// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features                 ║ Home                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.home .markdown-preview-sizer {
  padding-bottom: 0px !important;
}

// Divider
.home hr {
  opacity: 0;
  margin: var(--CREARTS-spacing-secondary) 0;
}

// Buttons
.home .button-normal {
  width: 100%;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features                 ║ Home -> Home Tab (Search)                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.home .home-tab-searchbar.svelte-1v6c0q {
  background: var(--CREARTS-background-primary) !important;
  border-radius: 12px !important;
  max-width: unset !important;
  box-shadow: var(--CREARTS-effects-pressed);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features                 ║ Home -> Home Tab (suggestion)                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.home .home-tab-suggestion-container {
  border-radius: var(--CREARTS-radius-primary) !important;
  border: none !important;
  max-width: unset !important;
  width: 100% !important;
  margin-top: 20px;
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
  opacity: 1;
}

// Normal
.home .suggestion-item {
  border-radius: var(--CREARTS-radius-secondary);
}

// Hover
.home .suggestion-item:hover {
  background: var(--CREARTS-interface-primary);
}
