// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables                ║ Dark                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-dark {
  // Text
  --CREARTS-text-accent: #ffffff;
  --CREARTS-text-primary: #c6d0f5;
  --CREARTS-text-secondary: #a6adce;
  --CREARTS-text-tertiary: #848ba7;

  // Background
  --CREARTS-background-primary: #303446;
  --CREARTS-background-secondary: #2a2d3b;
  --CREARTS-background-tertiary: #242634;

  // Interface
  --CREARTS-interface-primary: #41455a;
  --CREARTS-interface-secondary: #51576d;
  --CREARTS-interface-tertiary: #626880;

  // Accent
  --CREARTS-accent-primary: #cd0952;
  --CREARTS-accent-secondary: #b60a49;
  --CREARTS-accent-tertiary: #9f0b40;

  // Highlight
  --CREARTS-hightlight-red: #cd0952;
  --CREARTS-hightlight-green: #09cd85;
  --CREARTS-hightlight-yellow: #ffd861;
  --CREARTS-hightlight-orange: #e6715a;
  --CREARTS-hightlight-blue: #6189ff;
  --CREARTS-hightlight-purple: #b061ff;

  // Border
  --CREARTS-border-primary: var(--CREARTS-interface-primary);
  --CREARTS-border-secondary: var(--CREARTS-interface-secondary);

  // Effects
  --CREARTS-effects-flat: 2px 2px 20px #1f212b, -2px -2px 12px var(--CREARTS-background-secondary);
  --CREARTS-effects-pressed: inset 6px 6px 20px #1f212b, inset -6px -6px 20px var(--CREARTS-background-secondary);
}
