// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Scrollbars               ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/*
// Remove
.workspace-tabs ::-webkit-scrollbar {
  display: none;
}

// Sidebar
.nav-files-container,
.markdown-preview-view {
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.nav-files-container:hover,
.markdown-preview-view:hover {
  scrollbar-color: var(--CREARTS-interface-primary) transparent;
}
*/
