// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.mod-left-split,
.mod-right-split {
  min-width: var(--CREARTS-width-left);
}

.mod-left-split .view-content,
.mod-right-split .view-content {
  padding: var(--CREARTS-spacing-primary);
}

// Ribbon
body:not(.show-ribbon) .mod-left-split .workspace-tabs.mod-top .workspace-tab-container {
  margin-left: var(--CREARTS-layout-margin);
}

body:not(.is-mobile):not(.show-ribbon) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  margin-left: var(--CREARTS-layout-margin);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Workspace (Top)                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.mod-left-split .workspace-tabs.mod-top .workspace-tab-container,
.mod-right-split .workspace-tabs.mod-top .workspace-tab-container {
  margin: var(--CREARTS-layout-margin) var(--CREARTS-layout-margin-half) var(--CREARTS-layout-margin-half) var(--CREARTS-layout-margin-half);
}

// header
.mod-left-split .workspace-tabs.mod-top .nav-header,
.mod-right-split .workspace-tabs.mod-top .nav-header {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin-bottom: var(--CREARTS-layout-margin);
  min-height: var(--CREARTS-height-header);
}

// Content
.mod-left-split .workspace-tabs.mod-top .view-content,
.mod-left-split .workspace-tabs.mod-top .nav-files-container,
.mod-left-split .workspace-tabs.mod-top .tag-container,
.mod-left-split .workspace-tabs.mod-top .search-result-container,

.mod-right-split .workspace-tabs.mod-top .view-content,
.mod-right-split .workspace-tabs.mod-top .nav-files-container,
.mod-right-split .workspace-tabs.mod-top .tag-container,
.mod-right-split .workspace-tabs.mod-top .search-result-container{
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Workspace                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.mod-left-split .workspace-tabs:not(.mod-top) .workspace-tab-container,
.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-container {
  margin: var(--CREARTS-layout-margin-half);
}

.mod-right-split .workspace-tabs:not(.mod-top):last-child {
  margin-bottom: calc(var(--CREARTS-layout-margin-half) + var(--CREARTS-height-statusbar));
}

// Tab header
.mod-left-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container,
.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin: var(--CREARTS-layout-margin-half);
  border: none;
}

// Background
.mod-left-split .workspace-tabs:not(.mod-top) .workspace-leaf-content,
.mod-right-split .workspace-tabs:not(.mod-top) .workspace-leaf-content {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
}

// Header
.mod-left-split .workspace-tabs:not(.mod-top) .nav-header,
.mod-right-split .workspace-tabs:not(.mod-top) .nav-header {
  padding: var(--CREARTS-spacing-primary) 0px;
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-secondary);
  border-color: var(--CREARTS-border-primary);
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
  margin: var(--CREARTS-layout-margin-half);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Vault Profile                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin: var(--CREARTS-layout-margin-half);
  width: auto;
  padding: var(--CREARTS-spacing-secondary);
  border: none;
  margin-bottom: calc(var(--CREARTS-layout-margin) + var(--CREARTS-height-statusbar));
  height: var(--CREARTS-height-header);
}

// Order
.workspace-drawer-vault-actions {
  order: -1;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Plugin (Nav Files)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-files-container {
  padding: var(--CREARTS-layout-margin-half);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Plugin (Tokei)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.clock-container {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
}
