// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover                    ║ Sidebar                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.mod-horizontal .mod-top .nav-files-container,
.mod-horizontal .mod-top .view-content,
.mod-horizontal .mod-top .tag-container {
  margin-top: 0px !important;
}

.mod-horizontal .nav-header,
.mod-horizontal .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: none;
}

// Hover
.mod-horizontal:hover .mod-top .nav-files-container,
.mod-horizontal:hover .mod-top .view-content,
.mod-horizontal:hover .mod-top .tag-container {
  margin-top: var(--CREARTS-layout-margin-half);
}

.mod-horizontal:hover .nav-header,
.mod-horizontal:hover .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: flex !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover                    ║ Left Sidebar                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
  display: none;
}

.mod-left-split:hover .mod-top-left-space .workspace-tab-header-container-inner {
  display: flex;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover                    ║ Right Sidebar                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.mod-right-split .mod-top-right-space .workspace-tab-header-container-inner {
  display: none;
}

.mod-right-split:hover .mod-top-right-space .workspace-tab-header-container-inner {
  display: flex;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover                    ║ Resize Handle                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.mod-horizontal .workspace-leaf-resize-handle {
  opacity: 0 !important;
}

// Hover
.mod-horizontal:hover .workspace-leaf-resize-handle {
  opacity: 1 !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover                    ║ Header Tab List                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.workspace-tab-header-tab-list {
  display: none !important;
}

// Hover
.workspace-tab-header-container:hover .workspace-tab-header-tab-list {
  display: flex !important;
}
