// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Wallpaper                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.app-container:after {
  filter: blur(var(--blur-wallpaper));
  content: "";
  position: absolute;
  z-index: -1;
  top: -30px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: var(--CREARTS-wallpaper-opacity);
  background:
    var(--CREARTS-wallpaper) center/cover no-repeat,
    var(--CREARTS-background-primary);
}

// Transparent
.workspace {
  background: transparent;
}

.workspace-tabs .workspace-leaf {
  background: transparent !important;
}

// Remove Background
.mod-root {
  background: transparent !important;
}
