/* ╔═══════════════════════════════════════════════════════════════════════════╗ */
/* ║ Skin                                                                      ║ */
/* ╠══════════════════════════╦════════════════════════════════════════════════╣ */
/* ║ Skin:                    ║ Cosmic                                         ║ */
/* ║ Author:                  ║ Corellan & WmeLuna                             ║ */
/* ║ Credits:                 ║ https://github.com/CorellanStoma               ║ */
/* ║                          ║ https://github.com/WmeLuna                     ║ */
/* ╚══════════════════════════╩════════════════════════════════════════════════╝ */

.theme-dark.skin-dark-cosmic {

/* Info */
--SKIN-info-skin: "Cosmic";
--SKIN-info-author: "Corellan & WmeLuna";

/* Settings */
--SKIN-lightness: 0%;
--SKIN-saturation: 0%;
--SKIN-alpha: 0%;

/* Accent */
--SKIN-accent-h: 270;
--SKIN-accent-s: 100%;
--SKIN-accent-l: 70%;
--SKIN-accent-a: 1;

/* Content */
--SKIN-content-h: 222;
--SKIN-content-s: 60%;
--SKIN-content-l: 83%;
--SKIN-content-a: 1;

/* Base */
--SKIN-base-h: 250;
--SKIN-base-s: 24%;
--SKIN-base-l: 16%;
--SKIN-base-a: 1;

/* Grading */
--SKIN-grading-background-primary: 0%;
--SKIN-grading-background-secondary: 3%;
--SKIN-grading-background-tertiary: 6%;

--SKIN-grading-interface-primary: 8%;
--SKIN-grading-interface-secondary: 16%;
--SKIN-grading-interface-tertiary: 24%;
}
