/* ╔═══════════════════════════════════════════════════════════════════════════╗ */
/* ║ Skin                                                                      ║ */
/* ╠══════════════════════════╦════════════════════════════════════════════════╣ */
/* ║ Skin:                    ║ Cosmic Edition                                 ║ */
/* ║ Author:                  ║ WmeLuna & Corellan                             ║ */
/* ║ Credits:                 ║ https://github.com/WmeLuna                     ║ */
/* ║                          ║ https://github.com/CorellanStoma               ║ */
/* ╚══════════════════════════╩════════════════════════════════════════════════╝ */

.theme-dark.skin-dark-cosmic {
/* Info */
--SKIN-info-skin: "Cosmic";
--SKIN-info-author: "WmeLuna & Corellan";

  /* Lightness */
  --CREARTS-lightness: 0%;
  
  /* Grading */
  --CREARTS-grading-primary: 0%;
  --CREARTS-grading-secondary: 3%;
  --CREARTS-grading-tertiary: 6%;
  
  /* Accent */
  --CREARTS-accent-h: 338;
  --CREARTS-accent-s: 92%;
  --CREARTS-accent-l: 42%;
  --CREARTS-accent-a: 1.0;
  
  /* Text */
  --CREARTS-text-h: 227;
  --CREARTS-text-s: 70%;
  --CREARTS-text-l: 87%;
  --CREARTS-text-a: 1.0;
  
  /* Interface */
  --CREARTS-interface-h: 230;
  --CREARTS-interface-s: 16%;
  --CREARTS-interface-l: 30%;
  --CREARTS-interface-a: 1.0;
  
  /* Background */
  --CREARTS-background-h: 229;
  --CREARTS-background-s: 19%;
  --CREARTS-background-l: 23%;
  --CREARTS-background-a: 1.0;
  }
  