/* ╔═══════════════════════════════════════════════════════════════════════════╗ */
/* ║ Skin                                                                      ║ */
/* ╠══════════════════════════╦════════════════════════════════════════════════╣ */
/* ║ Skin:                    ║ Default                                        ║ */
/* ║ Author:                  ║ Corellan                                       ║ */
/* ║ Credits:                 ║ https://github.com/CorellanStoma               ║ */
/* ╚══════════════════════════╩════════════════════════════════════════════════╝ */

.theme-dark.skin-dark-default {

/* Info */
--SKIN-info-skin: "Default";
--SKIN-info-author: "Corellan";

/* Settings */
--SKIN-lightness: 0%;
--SKIN-saturation: 0%;
--SKIN-alpha: 0%;

/* Accent */
--SKIN-accent-h: 338;
--SKIN-accent-s: 92%;
--SKIN-accent-l: 42%;
--SKIN-accent-a: 1;

/* Content */
--SKIN-content-h: 230;
--SKIN-content-s: 70%;
--SKIN-content-l: 86%;
--SKIN-content-a: 1;

/* Base */
--SKIN-base-h: 230;
--SKIN-base-s: 19%;
--SKIN-base-l: 23%;
--SKIN-base-a: 1;

/* Grading */
--SKIN-grading-background-primary: 0%;
--SKIN-grading-background-secondary: 3%;
--SKIN-grading-background-tertiary: 6%;

--SKIN-grading-interface-primary: 8%;
--SKIN-grading-interface-secondary: 16%;
--SKIN-grading-interface-tertiary: 24%;
}
