// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Context Menu                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.menu {
  max-height: 70vh;
  border: none;
  background: var(--CREARTS-background-primary);
}

/*

.menu-item.selected:not(.is-disabled):not(.is-label) {
  background-color: var(--CREARTS-hightlight-red);
  color: var(--CREARTS-text-accent);
}

.menu-item.selected:not(.is-disabled):not(.is-label) .menu-item-icon {
  color: var(--CREARTS-text-accent);
}
*/
