// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cursor                   ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.clickable-icon {
  cursor: pointer !important;
}

.titlebar-button {
  cursor: pointer !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cursor                   ║ Tabs                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


.workspace-tab-header:not(.is-active) {
  cursor: pointer !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cursor                   ║ Callout                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.callout-title {
  cursor: pointer !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cursor                   ║ Files                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
  cursor: pointer !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cursor                   ║ Settings                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

button {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.dropdown option[value="obsidian"] {
  cursor: pointer !important;
}

.checkbox-container {
  cursor: pointer;
}

input[type="color"] {
  cursor: pointer;
}
