// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Print                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@media print {
  [style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"],
  [style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"],
  [style="display: flex; flex-direction: column; align-items: center;"],
  .home-tab-searchbar,
  .home-tab-suggestion-container,
  .home-button,
  #cMenuToolbarModalBar.top,
  #calendar-container .day:not(.today) .dot-container.svelte-q3wqg9,
  .callout,
  .side-dock-actions > div::after,
  body:not(.is-mobile) .nav-folder.mod-root > .nav-folder-title .nav-folder-title-content::after,
  .nav-folder.mod-root > .nav-folder-children > .nav-folder::after,
  [data-callout="buttons-4"] .external-link,
  [data-callout="buttons-3"] .external-link,
  [data-callout="buttons-2"] .external-link,
  [data-callout="buttons-1"] .external-link,
  [data-callout="buttons-4"] .external-link:hover,
  [data-callout="buttons-3"] .external-link:hover,
  [data-callout="buttons-2"] .external-link:hover,
  [data-callout="buttons-1"] .external-link:hover,
  .callout[data-callout="tasks"] .task-list-item,
  .callout[data-callout="tasks"] .task-list-item.is-checked,
  .cards .table-view-tbody tr {
    box-shadow: none !important;
  }

  .callout[data-callout="tasks"] .task-list-item {
    margin: 0px !important;
    background: transparent !important;
  }

  .obsidian-banner-wrapper {
    min-height: 0% !important;
  }

  .obsidian-banner.solid {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .callout-title-inner,
  .callout-content {
    color: black !important;
  }

  input[type="checkbox"],
  .markdown-rendered hr {
    border-color: black;
  }

  [data-callout="layout-4"] .callout-content,
  [data-callout="layout-3"] .callout-content,
  [data-callout="layout-2"] .callout-content {
    display: block !important;
    column-gap: 0px !important;
    width: 100% !important;
  }

  [data-callout="layout-4"] p {
    width: 100% !important;
  }

  [data-callout="layout-3"] p {
    width: 100% !important;
  }

  [data-callout="layout-2"] p {
    width: 100% !important;
  }

  .tag {
    display: none !important;
  }

  .callout[data-callout="tasks"] {
    margin-left: 0px !important;
  }
}
