// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Text                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Live Preview
.markdown-preview-view {
  hyphens: auto;
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word;
}

// Bullet List
.has-list-bullet {
  text-align: left !important;
}

table {
  text-align: left !important;
}
