// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Dashboard                ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Dashboard                ║ Home Tab                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.dashboard .home-tab-searchbar {
  margin: 0px !important;
}

// Background
.dashboard .block-language-search-bar {
  margin-top: var(--CREARTS-spacing-tertiary);
  margin-bottom: var(--CREARTS-spacing-tertiary);
  margin: 0px !important;
  padding: 0px !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Dashboard                ║ Bases                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.dashboard .bases-view {
  overflow: visible !important;
}

.dashboard .bases-header {
  display: none;
}

.dashboard .bases-view {
   height: 100%;
}
