// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Banners)       ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.callout[data-callout="banners"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: var(--CREARTS-height-banner);
  padding: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  box-shadow: none;
  user-select: none;
}

.callout[data-callout="banners"] p {
  height: var(--CREARTS-height-banner);
  margin: 0px !important;
}

// Remove Title
.callout[data-callout="banners"] .callout-title {
  display: none;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Banners)       ║ Image                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.callout[data-callout="banners"] img {
  z-index: 1;
  width: 100%;
  height: var(--CREARTS-banner-height, var(--CREARTS-height-banner));
  object-fit: cover;
  object-position: center;
  border-radius: 0;
  pointer-events: none;
  user-select: none;
}

// Position
.callout[data-callout="banners"][data-callout-metadata="0.1"] img {
  object-position: center 10%;
}

.callout[data-callout="banners"][data-callout-metadata="0.2"] img {
  object-position: center 20%;
}

.callout[data-callout="banners"][data-callout-metadata="0.3"] img {
  object-position: center 30%;
}

.callout[data-callout="banners"][data-callout-metadata="0.4"] img {
  object-position: center 40%;
}

.callout[data-callout="banners"][data-callout-metadata="0.5"] img {
  object-position: center 50%;
}

.callout[data-callout="banners"][data-callout-metadata="0.6"] img {
  object-position: center 60%;
}

.callout[data-callout="banners"][data-callout-metadata="0.7"] img {
  object-position: center 70%;
}

.callout[data-callout="banners"][data-callout-metadata="0.8"] img {
  object-position: center 80%;
}

.callout[data-callout="banners"][data-callout-metadata="0.9"] img {
  object-position: center 90%;
}

.callout[data-callout="banners"][data-callout-metadata="1.0"] img {
  object-position: center 100%;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Banners)       ║ Spacing                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.cssbanner .markdown-preview-pusher {
  margin-top: calc(var(--CREARTS-height-banner) - var(--file-margins));
}

.show-properties.cssbanner .markdown-preview-pusher {
  margin-top: var(--CREARTS-height-banner);
}
