// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Callout                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="callout"] {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: var(--CREARTS-spacing-tertiary) !important;
  border-radius: var(--CREARTS-radius-primary);
}

// Spacing
[data-callout="callout"] .callout-content {
  margin-top: -16px;
  margin-bottom: -16px;
}

// Remove Title
[data-callout="callout"] .callout-title {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Callout -> None                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="callout"][data-callout-metadata="none"] {
  background: transparent;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Callout -> Pressed                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="callout"][data-callout-metadata="pressed"] {
  background: var(--CREARTS-background-secondary);
  box-shadow: var(--CREARTS-effects-pressed);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Callout -> Flat                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="callout"][data-callout-metadata="flat"] {
  border-width: var(--CREARTS-border-width) !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary) !important;
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Callout -> Outline                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="callout"][data-callout-metadata="outline"] {
  border-width: var(--CREARTS-border-width) !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary) !important;
  background: none;
  box-shadow: none;
}
