// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Commands                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="commands"] {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: var(--CREARTS-spacing-tertiary) !important;
  border-width: var(--CREARTS-border-width) !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary) !important;
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
}

// Spacing
[data-callout="commands"] .callout-content {
  margin-top: -16px;
  margin-bottom: -16px;
}

// Content
[data-callout="commands"] pre {
  margin: 0px;
  margin-bottom: 20px;
  border-radius: var(--CREARTS-radius-primary);
  background: var(--CREARTS-background-secondary);
  box-shadow: var(--CREARTS-effects-pressed);
}

// Remove Title
[data-callout="commands"] .callout-title {
  display: none;
}
