// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Contents                 ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="contents"] {
  background: var(--CREARTS-background-primary);
  border-radius: var(--CREARTS-radius-primary);
  /* width: 220px; */
  min-width: 220px;
  padding: 0px;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  box-shadow: var(--CREARTS-effects-flat);

  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: var(--CREARTS-border-primary);
}


.callout[data-callout="contents"] .callout-title {
  margin: var(--CREARTS-spacing-primary) var(--CREARTS-spacing-tertiary);
  color: var(--CREARTS-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Contents                 ║ Text                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝



// Text
.callout[data-callout="contents"] .has-list-bullet {
  font-size: calc(var(--font-text-size) / 2 + 5px);
  hyphens: auto;
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word;
margin: 0px var(--CREARTS-spacing-primary) var(--CREARTS-spacing-primary) var(--CREARTS-spacing-tertiary);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Contents                 ║ Remove                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/* Remove - */
.callout[data-callout="contents"] .has-list-bullet::before {
  display: none;
}


/* Remove - Icon */
.callout[data-callout="contents"] .callout-icon {
  display: none;
}

/*
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Infobox                  ║ Left                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Float
.callout[data-callout="contents"][data-callout-metadata="left"] {
  margin-right: var(--CREARTS-spacing-tertiary);
  margin-bottom: var(--CREARTS-spacing-tertiary);
  float: left;
  clear: left;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Infobox                  ║ Right                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Float
.callout[data-callout="contents"][data-callout-metadata="right"] {
  margin-left: var(--CREARTS-spacing-tertiary);
  margin-bottom: var(--CREARTS-spacing-tertiary);
  float: right;
  clear: right;
}
*/
