// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Flat (Red)                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="red"],
.callout[data-callout-metadata="red-headless"] {
  background: rgba(var(--CREARTS-colors-red), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-red), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="red"] .svg-icon,
.callout[data-callout-metadata="red"] .callout-title {
  color: rgba(var(--CREARTS-colors-red), 1.0);
}

// Remove Title
.callout[data-callout-metadata="red-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="red"] code,
.callout[data-callout-metadata="red-headless"] code {
  background: rgba(var(--CREARTS-colors-red), 0.2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Flat (Green)                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="green"],
.callout[data-callout-metadata="green-headless"] {
  background: rgba(var(--CREARTS-colors-green), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-green), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="green"] .svg-icon,
.callout[data-callout-metadata="green"] .callout-title {
  color: rgba(var(--CREARTS-colors-green), 1.0);
}

// Remove Title
.callout[data-callout-metadata="green-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="green"] code,
.callout[data-callout-metadata="green-headless"] code {
  background: rgba(var(--CREARTS-colors-green), 0.2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Flat (Yellow)                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="yellow"],
.callout[data-callout-metadata="yellow-headless"] {
  background: rgba(var(--CREARTS-colors-yellow), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-yellow), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="yellow"] .svg-icon,
.callout[data-callout-metadata="yellow"] .callout-title {
  color: rgba(var(--CREARTS-colors-yellow), 1.0);
}

// Remove Title
.callout[data-callout-metadata="yellow-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="yellow"] code,
.callout[data-callout-metadata="green-headless"] code {
  background: rgba(var(--CREARTS-colors-yellow), 0.2);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ (Orange)                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="orange"],
.callout[data-callout-metadata="orange-headless"] {
  background: rgba(var(--CREARTS-colors-orange), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-orange), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="orange"] .svg-icon,
.callout[data-callout-metadata="orange"] .callout-title {
  color: rgba(var(--CREARTS-colors-orange), 1.0);
}

// Remove Title
.callout[data-callout-metadata="orange-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="orange"] code,
.callout[data-callout-metadata="orange-headless"] code {
  background: rgba(var(--CREARTS-colors-orange), 0.2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Blue                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="blue"],
.callout[data-callout-metadata="blue-headless"] {
  background: rgba(var(--CREARTS-colors-blue), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-blue), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="blue"] .svg-icon,
.callout[data-callout-metadata="blue"] .callout-title {
  color: rgba(var(--CREARTS-colors-blue), 1.0);
}

// Remove Title
.callout[data-callout-metadata="blue-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="blue"] code,
.callout[data-callout-metadata="blue-headless"] code {
  background: rgba(var(--CREARTS-colors-blue), 0.2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Purple                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout-metadata="purple"],
.callout[data-callout-metadata="purple-headless"] {
  background: rgba(var(--CREARTS-colors-purple), 0.1);
  border-radius: var(--CREARTS-radius-primary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: rgba(var(--CREARTS-colors-purple), 0.4);
}

// Title & Icon
.callout[data-callout-metadata="purple"] .svg-icon,
.callout[data-callout-metadata="purple"] .callout-title {
  color: rgba(var(--CREARTS-colors-purple), 1.0);
}

// Remove Title
.callout[data-callout-metadata="purple-headless"] .callout-title {
  display: none;
}

// Code
.callout[data-callout-metadata="purple"] code,
.callout[data-callout-metadata="purple-headless"] code {
  background: rgba(var(--CREARTS-colors-purple), 0.2);
}
