// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Gallery)       ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.callout[data-callout="gallery"] {
  background: transparent;
  box-shadow: none;
  border: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.callout[data-callout="gallery"] p {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: var(--CREARTS-spacing-tertiary);
  row-gap: var(--CREARTS-spacing-tertiary);
  overflow: visible;
  margin: 0px;
  padding: 0px;
}

// Remove Title
.callout[data-callout="gallery"] .callout-title {
  display: none;
}

// Remove Break
.callout[data-callout="gallery"] br {
  display: none;
}

// Remove Icon
.external-link {
  background-image: none;
  padding: 0px;
}

// Image
.callout[data-callout="gallery"] img {
  display: block;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Gallery)       ║ Image                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="gallery"] .media-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: var(--CREARTS-radius-secondary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: var(--CREARTS-border-primary);
  color: var(--CREARTS-text-primary) !important;
  text-decoration: none;
  padding: 0px;
  overflow: hidden;
  flex: 1 1 200px;
  max-width: 100%;
  box-sizing: border-box;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Gallery)       ║ Image Link                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="gallery"] .callout-content a {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--CREARTS-radius-secondary);
  box-shadow: var(--CREARTS-effects-flat);

  color: var(--CREARTS-text-primary) !important;
  text-decoration: none;
  height: unset;
  padding: 0px;
  overflow: hidden;

  flex: 1 1 200px;
  max-width: 100%;
  box-sizing: border-box;
}

// Hover
.callout[data-callout="gallery"] .callout-content a:hover {
  transform: scale(0.94);
  transition: transform 100ms ease-in;
}




















.callout[data-callout="gallery"][data-callout-metadata="square"] .media-embed {
  height: 200px;
}


.callout[data-callout="gallery"][data-callout-metadata="portrait"] .media-embed {
  height: 400px;
}

.callout[data-callout="gallery"][data-callout-metadata="landscape"] .media-embed {
  height: 160px;
}


