// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Infobox                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Backgground
.callout[data-callout="infobox"] {
  background: var(--CREARTS-background-primary);
  border-radius: var(--CREARTS-radius-primary);
  width: 260px;
  padding: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  box-shadow: var(--CREARTS-effects-flat);
}

// Spacing
.callout[data-callout="infobox"] .callout-content {
  margin-bottom: 12px;
}

.callout[data-callout="infobox"] p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}


// Image
.callout[data-callout="infobox"] img {
  border-radius: var(--CREARTS-radius-primary);
}

// Title
.callout[data-callout="infobox"] h1 {
  margin: 4px 12px 8px 12px;
}

// Table
.callout[data-callout="infobox"] table {
  margin: 0px !important;
  padding: 0px !important;
}

// td
.callout[data-callout="infobox"] td {
  border: none;
  padding-left: 12px; 
  padding-right: 0px;
}

// Remove Title
.callout[data-callout="infobox"] .callout-title {
  display: none;
}

// Remove th
.callout[data-callout="infobox"] th {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Infobox -> Left                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Float
.callout[data-callout="infobox"][data-callout-metadata="left"] {
  float: left;
  margin-right: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Infobox -> Right                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Float
.callout[data-callout="infobox"][data-callout-metadata="right"] {
  float: right;
  margin-left: 12px;
}






