// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Shortcuts)     ║ Variables                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.callout[data-callout="shortcuts"] kbd {
  --kbd-radius-primary: 8px;
  --kbd-radius-secondary: 6px;
  --kbd-height: 40px;
  --kbd-highlight-top: 2px;
  --kbd-highlight-right: 6px;
  --kbd-highlight-bottom: 6px;
  --kbd-highlight-left: 2px;
  --kbd-font-size: calc(var(--font-text-size) - 2px);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Shortcuts)     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="shortcuts"] {
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0px;
  padding-left: 0px;
}

// Spacing
.callout[data-callout="shortcuts"] p {
  margin: 0px;
}

// Remove
.callout[data-callout="shortcuts"] .callout-title {
  display: none;
}
