// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Shortcuts                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="shortcuts"] {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px;
  background: transparent !important;
  user-select: none;
}

.callout[data-callout="shortcuts"] p {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0px;
  gap: 8px;
}

// Background
.callout[data-callout="shortcuts"] kbd::before {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--CREARTS-background-primary), var(--CREARTS-background-secondary));
  content: "";
}

// Highlight
.callout[data-callout="shortcuts"] kbd::after {
  z-index: -1;
  position: absolute;
  top: 2px;
  right: 6px;
  bottom: 6px;
  left: 2px;
  border-radius: 6px;
  background: linear-gradient(90deg, var(--CREARTS-background-secondary), var(--CREARTS-interface-secondary));
  box-shadow: -10px -10px 10px var(--CREARTS-interface-secondary);
  content: "";
}

// Text
.callout[data-callout="shortcuts"] kbd {
  display: flex;
  z-index: 3;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 0px 14px 0px 10px;
  overflow: hidden;
  border-width: 2px !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: 8px;
  border-color: var(--CREARTS-background-tertiary) !important;
  color: var(--CREARTS-text-primary);
  font-weight: 500;
}

// Hover
.callout[data-callout="shortcuts"] kbd:hover {
  transform: scale(0.94);
  transition: transform 100ms ease-in;
}

.callout[data-callout="shortcuts"] kbd:hover::after {
  background: linear-gradient(90deg, var(--CREARTS-background-secondary), var(--CREARTS-interface-tertiary));
  box-shadow: -10px -10px 10px var(--CREARTS-interface-tertiary);
}

.callout[data-callout="shortcuts"] kbd:hover::before {
  background: linear-gradient(180deg, var(--CREARTS-background-secondary), var(--CREARTS-background-secondary));
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ Shortcuts -> Remove                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Remove Title
.callout[data-callout="shortcuts"] .callout-title {
  display: none;
}
