// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts                 ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
[data-callout="tables"] {
  background: transparent;
  padding: 0.1px;
  overflow: hidden !important;
}

// Spacing
[data-callout="tables"] .callout-content {
  margin-top: -16px;
  margin-bottom: -16px;
}

// Remove Title
[data-callout="tables"] .callout-title {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Table                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


[data-callout="tables"] table {
  width: calc(100% + var(--CREARTS-spacing-primary) + var(--CREARTS-spacing-primary) - 1px);
  border-collapse: separate;
  border-spacing: var(--CREARTS-spacing-primary);
  margin-left: calc(var(--CREARTS-spacing-primary) * -1);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Header                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="tables"] thead th {
  border: none;
  
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Body                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="tables"] tbody tr:nth-child(odd) {
  background: var(--CREARTS-interface-primary) !important;
 
}

[data-callout="tables"] tbody tr:nth-child(even) {
  background: var(--CREARTS-background-primary);
}

[data-callout="tables"] td {
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-primary);
  vertical-align: middle;
  user-select: all;
}

[data-callout="tables"] tbody tr:nth-child(odd) td {
  border-color: var(--CREARTS-border-secondary);
}

[data-callout="tables"] tbody tr:nth-child(even) td {
  border-color: var(--CREARTS-border-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Empty                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="tables"] td:empty {
visibility: hidden;
padding: var(--CREARTS-spacing-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Image                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="tables"] img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--CREARTS-radius-secondary);
}

[data-callout="tables"] td:first-child {
  white-space: nowrap;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Table                    ║ Outline                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="tables"][data-callout-metadata="outline"] tbody tr:nth-child(odd),
[data-callout="tables"][data-callout-metadata="outline"] tbody tr:nth-child(even) {
  background: transparent !important;
}





/*
.markdown-rendered td, .markdown-rendered th {
  max-width: unset !important;
  min-width: unset !important;
}


.markdown-rendered td:nth-child(6) {
  max-width: 0px !important;
  min-width: 0px !important;
}
*/
