// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Tasks                    ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callout[data-callout="tasks"] {
  margin-bottom: var(--CREARTS-spacing-tertiary) !important;
  margin-left: -20px;
  padding: 0px;
  background: transparent;
  box-shadow: none;
}

// Spacing
.callout[data-callout="tasks"] .contains-task-list {
  margin-block-start: var(--CREARTS-spacing-tertiary) !important;
  margin-block-end: 0px;
  padding: 0px;
}

// Title
.callout[data-callout="tasks"] .callout-title-inner {
  margin-left: 20px;
  color: var(--CREARTS-text-primary);
}

// Item
.callout[data-callout="tasks"] .task-list-item {
  height: 40px;
  margin: 0px 20px 20px 20px;
  padding: 8px 0px 8px 40px;
  border-width: var(--CREARTS-border-width) !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: 12px;
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary) !important;
  background: var(--CREARTS-background-primary);
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
}

// Item Checked
.callout[data-callout="tasks"] .task-list-item.is-checked {
  text-decoration: line-through;
}

// Pointer
.callout[data-callout="tasks"] .task-list-item-checkbox::before {
  position: absolute;
  top: -12px;
  left: -14px;
  width: 2000px;
  height: 40px;
  border-radius: 12px;
  background: transparent;
  content: "";
  cursor: pointer;
}

// Remove Icon
.callout[data-callout="tasks"] .callout-icon {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Message                  ║ Tasks Done                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Flex
.callout[data-callout="tasks"] .contains-task-list {
  display: flex;
  flex-direction: column;
}

// Order
.callout[data-callout="tasks"] .task-list-item {
  order: 1;
}

.callout[data-callout="tasks"] .is-checked {
  order: 2;
}

// Spacing
.callout[data-callout="tasks"] .is-checked:not(.is-checked ~ .is-checked) {
  margin-top: 40px !important;
}

// Pseudo
.callout[data-callout="tasks"] .is-checked:not(.is-checked ~ .is-checked)::before {
  position: absolute;
  margin-top: -50px;
  margin-left: -60px;
  padding-left: 20px;
  content: "Done:";
  color: var(--CREARTS-text-primary);
  font-weight: 600;
  font-size: var(--callout-title-size);
  line-height: var(--line-height-tight);
}
