
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.nav-folder-title,
.nav-file-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

// Background
.nav-folder-title::before,
.nav-file-title::before {
  content: "000";
  background: var(--text-normal);
  color: var(--text-normal);
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  width: 16px;
  margin-right: 3px;
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='m20.95 14.55-6.39 6.39c-1.4 1.4-3.7 1.4-5.11 0l-6.39-6.39c-1.4-1.4-1.4-3.7 0-5.11l6.39-6.39c1.4-1.4 3.7-1.4 5.11 0l6.39 6.39c1.4 1.41 1.4 3.71 0 5.11'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Folder                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Closed
.nav-folder-title:has(.is-collapsed)::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M21.017 7.992c.398.566-.076 1.258-.769 1.258H3a1 1 0 0 1-1-1V6.42C2 3.98 3.98 2 6.42 2h2.32c1.63 0 2.14.53 2.79 1.4l1.4 1.86c.31.41.35.46.93.46h2.79c1.805 0 3.402.897 4.367 2.272m-.034 2.758a1 1 0 0 1 1 .997L22 16.65C22 19.6 19.6 22 16.65 22h-9.3C4.4 22 2 19.6 2 16.65v-4.9a1 1 0 0 1 1-1z'/%3e%3c/svg%3e");
}

// Open
.nav-folder-title::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='m21.058 11.822-.16-.22q-.42-.51-.99-.81c-.51-.29-1.09-.44-1.69-.44H5.768c-.6 0-1.17.15-1.69.44-.39.21-.74.5-1.03.86-.57.73-.84 1.63-.75 2.53l.37 4.67c.13 1.41.3 3.15 3.47 3.15h11.72c3.17 0 3.33-1.74 3.47-3.16l.37-4.65c.09-.84-.13-1.68-.64-2.37m-6.67 5.52h-4.79c-.39 0-.7-.32-.7-.7s.31-.7.7-.7h4.79c.39 0 .7.32.7.7 0 .39-.31.7-.7.7m6.172-8.746c.038.383-.378.64-.742.517a5 5 0 0 0-1.59-.253H5.769c-.556 0-1.104.09-1.616.262-.36.121-.773-.127-.773-.507V6.66C3.38 3.09 4.47 2 8.04 2h1.18c1.43 0 1.88.46 2.46 1.21l1.2 1.6c.25.34.26.36.7.36h2.38c3.126 0 4.347.837 4.601 3.426'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Canvas                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".canvas"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M12.676 19.959c.275.064.3.424.032.513l-1.58.52c-3.97 1.28-6.06.21-7.35-3.76l-1.28-3.95c-1.28-3.97-.22-6.07 3.75-7.35l.524-.174c.403-.133.795.271.68.68q-.084.303-.164.634l-.98 4.19c-1.1 4.71.51 7.31 5.22 8.43z'/%3e%3cpath d='m17.17 3.209-1.67-.39c-3.34-.79-5.33-.14-6.5 2.28-.3.61-.54 1.35-.74 2.2l-.98 4.19c-.98 4.18.31 6.24 4.48 7.23l1.68.4q.87.21 1.62.27c3.12.3 4.78-1.16 5.62-4.77l.98-4.18c.98-4.18-.3-6.25-4.49-7.23m-1.88 10.12c-.09.34-.39.56-.73.56-.06 0-.12-.01-.19-.02l-2.91-.74a.75.75 0 0 1 .37-1.45l2.91.74c.41.1.65.51.55.91m2.93-3.38c-.09.34-.39.56-.73.56-.06 0-.12-.01-.19-.02l-4.85-1.23a.75.75 0 0 1 .37-1.45l4.85 1.23c.41.09.65.5.55.91'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Bases                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".base"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 24 24'%3e%3cpath d='M2.5 19.64v-4.28c0-1.3 1-2.36 2.23-2.36h4.04C10 13 11 14.06 11 15.36v4.28c0 1.3-1 2.36-2.23 2.36H4.73C3.5 22 2.5 20.94 2.5 19.64m0-11V4.36C2.5 3.06 3.5 2 4.73 2h4.04C10 2 11 3.06 11 4.36v4.28C11 9.94 10 11 8.77 11H4.73C3.5 11 2.5 9.94 2.5 8.64m18.25-3.39h-7c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h7c.41 0 .75.34.75.75s-.34.75-.75.75m0 5h-7c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h7c.41 0 .75.34.75.75s-.34.75-.75.75m0 5h-7c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h7c.41 0 .75.34.75.75s-.34.75-.75.75m0 5h-7c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h7c.41 0 .75.34.75.75s-.34.75-.75.75'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Markdown                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".md"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M8.29 6.29c-.42 0-.75-.34-.75-.75V2.75a.749.749 0 1 1 1.5 0v2.78c0 .42-.33.76-.75.76m7.42 0c-.42 0-.75-.34-.75-.75V2.75a.749.749 0 1 1 1.5 0v2.78c0 .42-.33.76-.75.76'/%3e%3cpath d='M19.57 4.5c-.66-.49-1.61-.02-1.61.81v.1c0 1.17-.84 2.25-2.01 2.37-1.35.14-2.49-.92-2.49-2.24V4.5c0-.55-.45-1-1-1h-.92c-.55 0-1 .45-1 1v1.04c0 .79-.41 1.49-1.03 1.88-.09.06-.19.11-.29.16q-.135.075-.3.12c-.12.04-.25.07-.39.08q-.24.03-.48 0c-.14-.01-.27-.04-.39-.08q-.15-.045-.3-.12c-.1-.05-.2-.1-.29-.16-.63-.44-1.03-1.2-1.03-2.01v-.1c0-.77-.82-1.23-1.47-.9-.01.01-.02.01-.03.02-.04.02-.07.04-.11.07-.03.03-.07.05-.1.08-.28.22-.53.47-.74.74-.11.12-.2.25-.28.38a3.5 3.5 0 0 0-.27.46c-.02.02-.03.03-.03.05-.06.12-.12.24-.16.37-.03.05-.04.09-.06.14-.06.15-.1.3-.14.45-.04.14-.07.29-.09.44a6 6 0 0 0-.06.76v8.76A4.87 4.87 0 0 0 7.37 22h9.26a4.87 4.87 0 0 0 4.87-4.87V8.37c0-1.59-.76-2.98-1.93-3.87M12 17.42H7.36a.755.755 0 0 1 0-1.51H12c.42 0 .75.34.75.76 0 .41-.33.75-.75.75m2.78-3.71H7.36a.755.755 0 0 1 0-1.51h7.42c.42 0 .76.34.76.76 0 .41-.34.75-.76.75'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Document                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".pdf"]::before,
.nav-file-title[data-path$=".doc"]::before,
.nav-file-title[data-path$=".docx"]::before,
.nav-file-title[data-path$=".rtf"]::before,
.nav-file-title[data-path$=".odt"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M15.8 2.21c-.41-.41-1.12-.13-1.12.44v3.49c0 1.46 1.24 2.67 2.75 2.67.95.01 2.27.01 3.4.01.57 0 .87-.67.47-1.07-1.44-1.45-4.02-4.06-5.5-5.54'/%3e%3cpath d='M20.5 10.19h-2.89c-2.37 0-4.3-1.93-4.3-4.3V3c0-.55-.45-1-1-1H8.07C4.99 2 2.5 4 2.5 7.57v8.86C2.5 20 4.99 22 8.07 22h7.86c3.08 0 5.57-2 5.57-5.57v-5.24c0-.55-.45-1-1-1m-9 7.56h-4c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4c.41 0 .75.34.75.75s-.34.75-.75.75m2-4h-6c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h6c.41 0 .75.34.75.75s-.34.75-.75.75'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Text                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".txt"]::before,
.nav-file-title[data-path$=".log"]::before,
.nav-file-title[data-path$=".readme"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M20.5 10.19h-2.89c-2.37 0-4.3-1.93-4.3-4.3V3c0-.55-.45-1-1-1H8.07C4.99 2 2.5 4 2.5 7.57v8.86C2.5 20 4.99 22 8.07 22h7.86c3.08 0 5.57-2 5.57-5.57v-5.24c0-.55-.45-1-1-1'/%3e%3cpath d='M15.8 2.21c-.41-.41-1.12-.13-1.12.44v3.49c0 1.46 1.24 2.67 2.75 2.67.95.01 2.27.01 3.4.01.57 0 .87-.67.47-1.07-1.44-1.45-4.02-4.06-5.5-5.54'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Code                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".html"]::before,
.nav-file-title[data-path$=".css"]::before,
.nav-file-title[data-path$=".js"]::before,
.nav-file-title[data-path$=".php"]::before,
.nav-file-title[data-path$=".py"]::before,
.nav-file-title[data-path$=".rb"]::before,
.nav-file-title[data-path$=".java"]::before,
.nav-file-title[data-path$=".c"]::before,
.nav-file-title[data-path$=".cpp"]::before,

.nav-file-title[data-path$=".json"]::before,
.nav-file-title[data-path$=".yaml"]::before,
.nav-file-title[data-path$=".yml"]::before,
.nav-file-title[data-path$=".conf"]::before,
.nav-file-title[data-path$=".ini"]::before,
.nav-file-title[data-path$=".xml"]::before,
.nav-file-title[data-path$=".toml"]::before{
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M21 10H3c-.55 0-1 .45-1 1v5.19q0 .3.03.6c.2 3.08 2.1 4.98 5.18 5.18q.3.03.6.03h8.38q.3 0 .6-.03c3.08-.2 4.98-2.1 5.18-5.18q.03-.3.03-.6V11c0-.55-.45-1-1-1M8 16.15c.34.5.8.91 1.33 1.18.38.18.53.63.34 1.01-.13.26-.4.41-.67.41-.11 0-.23-.03-.33-.08-.78-.38-1.44-.97-1.91-1.68-.4-.6-.4-1.38 0-1.98.47-.71 1.13-1.3 1.91-1.68.37-.19.82-.04 1 .33.19.38.04.83-.34 1.01-.53.27-.99.68-1.33 1.18-.06.09-.06.21 0 .3m9.45.84c-.48.71-1.14 1.3-1.91 1.68a.74.74 0 0 1-1-.33.745.745 0 0 1 .33-1.01c.54-.27 1-.68 1.33-1.18a.24.24 0 0 0 0-.3c-.33-.5-.79-.91-1.33-1.18a.745.745 0 0 1-.33-1.01c.18-.37.63-.52 1-.33.77.38 1.43.97 1.91 1.68.4.6.4 1.38 0 1.98M22 7.81V8c0 .55-.45 1-1 1L3 9.01c-.55 0-1-.45-1-1v-.2q0-.3.03-.6c.2-3.08 2.1-4.98 5.18-5.18q.3-.03.6-.03h8.38q.3 0 .6.03c3.08.2 4.98 2.1 5.18 5.18q.03.3.03.6'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Table                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".csv"]::before,
.nav-file-title[data-path$=".xls"]::before,
.nav-file-title[data-path$=".xlsx"]::before,
.nav-file-title[data-path$=".ods"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 24 24'%3e%3cpath d='M3.184 7a1.002 1.002 0 0 1-.968-1.255c.709-2.406 2.681-3.796 5.594-3.796H9.5a1 1 0 0 1 1 1V6a1 1 0 0 1-1 1zM13.5 2.949a1 1 0 0 1 1-1h1.69c2.913 0 4.885 1.39 5.556 3.806a.962.962 0 0 1-.93 1.206C19.147 7 16.08 7 14.5 7a1 1 0 0 1-1-1zM21 10a.997.997 0 0 1 1 1v2a.997.997 0 0 1-1 1h-6.5a.997.997 0 0 1-1-1v-2a.997.997 0 0 1 1-1zm-.216 7c.314 0 .609.147.799.397.189.251.249.576.163.878-.745 2.331-2.696 3.675-5.556 3.675H14.5a1 1 0 0 1-1-1V18a1 1 0 0 1 1-1zM10.5 20.95a1 1 0 0 1-1 1H7.81c-2.86 0-4.811-1.344-5.517-3.687a.96.96 0 0 1 .923-1.224C4.888 17 7.929 17 9.5 17a1 1 0 0 1 1 1zM3 14a.997.997 0 0 1-1-1v-2a.997.997 0 0 1 1-1h6.5a.997.997 0 0 1 1 1v2a.997.997 0 0 1-1 1z'/%3e%3c/svg%3e");
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Image                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".jpg"]::before,
.nav-file-title[data-path$=".jpeg"]::before,
.nav-file-title[data-path$=".png"]::before,
.nav-file-title[data-path$=".gif"]::before,
.nav-file-title[data-path$=".svg"]::before,
.nav-file-title[data-path$=".webp"]::before,
.nav-file-title[data-path$=".bmp"]::before,
.nav-file-title[data-path$=".tiff"]::before,
.nav-file-title[data-path$=".ico"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='m22.019 16.82-3.13-7.32c-.57-1.34-1.42-2.1-2.39-2.15-.96-.05-1.89.62-2.6 1.9l-1.9 3.41c-.4.72-.97 1.15-1.59 1.2-.63.06-1.26-.27-1.77-.92l-.22-.28c-.71-.89-1.59-1.32-2.49-1.23s-1.67.71-2.18 1.72l-1.73 3.45c-.62 1.25-.56 2.7.17 3.88s2 1.89 3.39 1.89h12.76c1.34 0 2.59-.67 3.33-1.79.76-1.12.88-2.53.35-3.76M6.97 8.381a3.38 3.38 0 1 0 0-6.76 3.38 3.38 0 0 0 0 6.76'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Video                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".mp4"]::before,
.nav-file-title[data-path$=".mkv"]::before,
.nav-file-title[data-path$=".avi"]::before,
.nav-file-title[data-path$=".mov"]::before,
.nav-file-title[data-path$=".webm"]::before,
.nav-file-title[data-path$=".flv"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M21.15 6.17c-.41-.22-1.27-.45-2.44.37l-1.47 1.04c-.11-3.11-1.46-4.33-4.74-4.33h-6C3.08 3.25 1.75 4.58 1.75 8v8c0 2.3 1.25 4.75 4.75 4.75h6c3.28 0 4.63-1.22 4.74-4.33l1.47 1.04c.62.44 1.16.58 1.59.58.37 0 .66-.11.85-.21.41-.21 1.1-.78 1.1-2.21V8.38c0-1.43-.69-2-1.1-2.21M11 11.38c-1.03 0-1.88-.84-1.88-1.88S9.97 7.62 11 7.62s1.88.84 1.88 1.88-.85 1.88-1.88 1.88'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Audio                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".mp3"]::before,
.nav-file-title[data-path$=".wav"]::before,
.nav-file-title[data-path$=".ogg"]::before,
.nav-file-title[data-path$=".flac"]::before,
.nav-file-title[data-path$=".aac"]::before,
.nav-file-title[data-path$=".m4a"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M20.89 5.179v11.3c0 1.98-1.61 3.59-3.59 3.59a3.6 3.6 0 0 1-3.59-3.59c0-1.97 1.62-3.58 3.59-3.58.84 0 1.59.29 2.2.77v-5.95l-9.21 2.62v8.07a3.6 3.6 0 0 1-3.59 3.59c-1.98 0-3.59-1.61-3.59-3.59 0-1.97 1.61-3.58 3.59-3.58.83 0 1.58.29 2.19.76v-8.84c0-1.47.89-2.61 2.3-2.99l5.78-1.58c1.17-.32 2.16-.21 2.86.33.71.53 1.06 1.43 1.06 2.67'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Archive                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".zip"]::before,
.nav-file-title[data-path$=".rar"]::before,
.nav-file-title[data-path$=".7z"]::before,
.nav-file-title[data-path$=".tar"]::before,
.nav-file-title[data-path$=".gz"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M16 9.75H8c-.69 0-1.25.56-1.25 1.25v1.05c.03-.01.05-.02.08-.03.12-.06.25-.1.38-.14.06-.02.12-.04.19-.06.2-.04.4-.07.61-.07h8c.21 0 .41.03.61.07.06.01.12.04.19.06.13.04.26.08.38.14.03.01.06.02.08.03V11A1.28 1.28 0 0 0 16 9.75m0 3.5H8c-.69 0-1.25.56-1.25 1.25v.5H9.5c.41 0 .75.34.75.75 0 .96.79 1.75 1.75 1.75s1.75-.79 1.75-1.75c0-.41.34-.75.75-.75h2.75v-.5c0-.69-.56-1.25-1.25-1.25m0-6.75H8c-.69 0-1.25.56-1.25 1.25v.81c.38-.19.8-.31 1.25-.31h8c.45 0 .87.12 1.25.31v-.81c0-.69-.56-1.25-1.25-1.25'/%3e%3cpath d='M16.19 2H7.81C4.17 2 2 4.17 2 7.81v8.37C2 19.83 4.17 22 7.81 22h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2M19 16.5h-3.84A3.26 3.26 0 0 1 12 19c-1.53 0-2.82-1.07-3.16-2.5H5c-.41 0-.75-.34-.75-.75S4.59 15 5 15h.25V7.75C5.25 6.23 6.48 5 8 5h8c1.52 0 2.75 1.23 2.75 2.75V15H19c.41 0 .75.34.75.75s-.34.75-.75.75'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Execute                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".exe"]::before,
.nav-file-title[data-path$=".msi"]::before,
.nav-file-title[data-path$=".bat"]::before,
.nav-file-title[data-path$=".sh"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M21 10H3c-.55 0-1 .45-1 1v5.19q0 .3.03.6c.2 3.08 2.1 4.98 5.18 5.18q.3.03.6.03h8.38q.3 0 .6-.03c3.08-.2 4.98-2.1 5.18-5.18q.03-.3.03-.6V11c0-.55-.45-1-1-1M8 16.15c.34.5.8.91 1.33 1.18.38.18.53.63.34 1.01-.13.26-.4.41-.67.41-.11 0-.23-.03-.33-.08-.78-.38-1.44-.97-1.91-1.68-.4-.6-.4-1.38 0-1.98.47-.71 1.13-1.3 1.91-1.68.37-.19.82-.04 1 .33.19.38.04.83-.34 1.01-.53.27-.99.68-1.33 1.18-.06.09-.06.21 0 .3m9.45.84c-.48.71-1.14 1.3-1.91 1.68a.74.74 0 0 1-1-.33.745.745 0 0 1 .33-1.01c.54-.27 1-.68 1.33-1.18a.24.24 0 0 0 0-.3c-.33-.5-.79-.91-1.33-1.18a.745.745 0 0 1-.33-1.01c.18-.37.63-.52 1-.33.77.38 1.43.97 1.91 1.68.4.6.4 1.38 0 1.98M22 7.81V8c0 .55-.45 1-1 1L3 9.01c-.55 0-1-.45-1-1v-.2q0-.3.03-.6c.2-3.08 2.1-4.98 5.18-5.18q.3-.03.6-.03h8.38q.3 0 .6.03c3.08.2 4.98 2.1 5.18 5.18q.03.3.03.6'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ Adobe                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$=".psd"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M9.5 8.75H8.25v2.5H9.5a1.25 1.25 0 0 0 0-2.5'/%3e%3cpath d='M16.19 2H7.82C4.18 2 2.01 4.17 2.01 7.81v8.37c0 3.64 2.17 5.81 5.81 5.81h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2M9.5 12.75H8.25V16c0 .41-.34.75-.75.75s-.75-.34-.75-.75V8c0-.41.34-.75.75-.75h2c1.52 0 2.75 1.23 2.75 2.75s-1.23 2.75-2.75 2.75m5.75 0c1.1 0 2 .9 2 2s-.9 2-2 2H14c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h1.25c.28 0 .5-.22.5-.5s-.22-.5-.5-.5c-1.1 0-2-.9-2-2s.9-2 2-2h1.25c.41 0 .75.34.75.75s-.34.75-.75.75h-1.25c-.28 0-.5.22-.5.5s.22.5.5.5'/%3e%3c/svg%3e");
}

.nav-file-title[data-path$=".ai"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M16.19 2H7.81C4.17 2 2 4.17 2 7.81v8.37c0 3.64 2.17 5.81 5.81 5.81h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2m-3.13 14.68a.75.75 0 0 1-.95-.47l-.71-2.13H8.32l-.98 2.2c-.17.38-.61.55-.99.38s-.55-.61-.38-.99L9.5 7.74c.13-.28.4-.47.72-.44.31.01.58.22.68.51l2.64 7.93a.76.76 0 0 1-.48.94m4.04-.71c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-5.29c0-.41.34-.75.75-.75s.75.34.75.75zm.17-7.55c-.05.12-.12.23-.22.32-.09.09-.2.17-.32.22s-.25.07-.38.07a1.01 1.01 0 0 1-.93-.61c-.05-.13-.07-.25-.07-.39 0-.13.02-.26.07-.38.06-.12.13-.23.22-.32.09-.1.2-.17.32-.22.37-.15.82-.06 1.09.22a1 1 0 0 1 .3.7c0 .14-.03.27-.08.39'/%3e%3cpath d='M8.98 12.57h1.92l-.82-2.46z'/%3e%3c/svg%3e");
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins (Files)          ║ License                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.nav-file-title[data-path$="license"]::before {
  --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M19.79 4.22c-2.96-2.95-7.76-2.95-10.7 0-2.07 2.05-2.69 5-1.89 7.6l-4.7 4.7c-.33.34-.56 1.01-.49 1.49l.3 2.18c.11.72.78 1.4 1.5 1.5l2.18.3c.48.07 1.15-.15 1.49-.5l.82-.82c.2-.19.2-.51 0-.71l-1.94-1.94a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l1.95 1.95c.19.19.51.19.7 0l2.12-2.11c2.59.81 5.54.18 7.6-1.87 2.95-2.95 2.95-7.76 0-10.71M14.5 12a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5'/%3e%3c/svg%3e");
}
