
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons (Tenki)            ║ Tenki -> Replace Icons                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Icon
.weather-container .forecast-icon {
  object-position: -99999px 99999px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons (Tenki)            ║ Day                                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// 113 | Sunny
.forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/113.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='32' cy='32' r='10.5'/%3e%3cpath d='M32 15.71V9.5m0 45v-6.21m11.52-27.81 4.39-4.39M16.09 47.91l4.39-4.39m0-23-4.39-4.39m31.82 31.78-4.39-4.39M15.71 32H9.5m45 0h-6.21'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.is-focused .forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/113.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='32' cy='32' r='10.5'/%3e%3cpath d='M32 15.71V9.5m0 45v-6.21m11.52-27.81 4.39-4.39M16.09 47.91l4.39-4.39m0-23-4.39-4.39m31.82 31.78-4.39-4.39M15.71 32H9.5m45 0h-6.21'%3e%3canimateTransform attributeName='transform' dur='45s' repeatCount='indefinite' type='rotate' values='0 32 32%3b 360 32 32'/%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

// 116 | Partly cloudy
.forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/116.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='19' cy='24' r='5'/%3e%3cpath d='M19 15.67V12.5m0 23v-3.17m5.89-14.22 2.24-2.24M10.87 32.13l2.24-2.24m0-11.78-2.24-2.24m16.26 16.26-2.24-2.24M7.5 24h3.17m19.83 0h-3.17m19.17 7.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.is-focused .forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/116.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='19' cy='24' r='5'/%3e%3cpath d='M19 15.67V12.5m0 23v-3.17m5.89-14.22 2.24-2.24M10.87 32.13l2.24-2.24m0-11.78-2.24-2.24m16.26 16.26-2.24-2.24M7.5 24h3.17m19.83 0h-3.17'%3e%3canimateTransform attributeName='transform' dur='45s' repeatCount='indefinite' type='rotate' values='0 19 24%3b 360 19 24'/%3e%3c/path%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

// 119 | Cloudy
.forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/119.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.is-focused .forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/119.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'%3e%3canimateTransform attributeName='transform' dur='7s' repeatCount='indefinite' type='translate' values='-3 0%3b 3 0%3b -3 0'/%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
}


// 122 | Overcast
.forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/122.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M34.23 33.45a4.05 4.05 0 0 0 4.05 4h16.51a4.34 4.34 0 0 0 .81-8.61 3.5 3.5 0 0 0 .06-.66 4.06 4.06 0 0 0-6.13-3.48 6.08 6.08 0 0 0-11.25 3.19 6.3 6.3 0 0 0 .18 1.46h-.18a4.05 4.05 0 0 0-4.05 4.1'/%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.is-focused  .forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/122.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M34.23 33.45a4.05 4.05 0 0 0 4.05 4h16.51a4.34 4.34 0 0 0 .81-8.61 3.5 3.5 0 0 0 .06-.66 4.06 4.06 0 0 0-6.13-3.48 6.08 6.08 0 0 0-11.25 3.19 6.3 6.3 0 0 0 .18 1.46h-.18a4.05 4.05 0 0 0-4.05 4.1'%3e%3canimateTransform attributeName='transform' dur='7s' repeatCount='indefinite' type='translate' values='-2.1 0%3b 2.1 0%3b -2.1 0'/%3e%3c/path%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'%3e%3canimateTransform attributeName='transform' dur='7s' repeatCount='indefinite' type='translate' values='-3 0%3b 3 0%3b -3 0'/%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

// 143 | Mist

// 176 | Patchy rain possible
.forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/176.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='19' cy='24' r='5'/%3e%3cpath d='M19 15.67V12.5m0 23v-3.17m5.89-14.22 2.24-2.24M10.87 32.13l2.24-2.24m0-11.78-2.24-2.24m16.26 16.26-2.24-2.24M7.5 24h3.17m19.83 0h-3.17m19.17 7.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14M24.08 45.01l-.16.98m7.16-.98-.16.98m7.16-.98-.16.98'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.is-focused  .forecast-icon[src="https://cdn.weatherapi.com/weather/64x64/day/176.png"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='19' cy='24' r='5'/%3e%3cpath d='M19 15.67V12.5m0 23v-3.17m5.89-14.22 2.24-2.24M10.87 32.13l2.24-2.24m0-11.78-2.24-2.24m16.26 16.26-2.24-2.24M7.5 24h3.17m19.83 0h-3.17'%3e%3canimateTransform attributeName='transform' dur='45s' repeatCount='indefinite' type='rotate' values='0 19 24%3b 360 19 24'/%3e%3c/path%3e%3cpath d='M46.5 31.5h-.32a10.49 10.49 0 0 0-19.11-8 7 7 0 0 0-10.57 6 7 7 0 0 0 .1 1.14A7.5 7.5 0 0 0 18 45.5a4 4 0 0 0 .5 0h28a7 7 0 0 0 0-14'/%3e%3cpath d='m24.08 45.01-.16.98'%3e%3canimateTransform attributeName='transform' dur='1.5s' repeatCount='indefinite' type='translate' values='1 -5%3b -2 10'/%3e%3canimate attributeName='opacity' dur='1.5s' repeatCount='indefinite' values='0%3b1%3b1%3b0'/%3e%3c/path%3e%3cpath d='m31.08 45.01-.16.98'%3e%3canimateTransform attributeName='transform' begin='-0.5s' dur='1.5s' repeatCount='indefinite' type='translate' values='1 -5%3b -2 10'/%3e%3canimate attributeName='opacity' begin='-0.5s' dur='1.5s' repeatCount='indefinite' values='0%3b1%3b1%3b0'/%3e%3c/path%3e%3cpath d='m38.08 45.01-.16.98'%3e%3canimateTransform attributeName='transform' begin='-1s' dur='1.5s' repeatCount='indefinite' type='translate' values='1 -5%3b -2 10'/%3e%3canimate attributeName='opacity' begin='-1s' dur='1.5s' repeatCount='indefinite' values='0%3b1%3b1%3b0'/%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

// 179 | Patchy snow possible

// 182 | Patchy sleet possible

// 185 | Patchy freezing drizzle possible

// 200 | Thundery outbreaks possible

// 227 | Blowing snow

// 230 | Blizzard

// 248 | Fog

// 260 | Freezing fog

// 263 | Patchy light drizzle

// 266 | Light drizzle

// 281 | Freezing drizzle

// 284 | Heavy freezing drizzle

// 293 | Patchy light rain

// 296 | Light rain

// 299 | Moderate rain at times

// 302 | Moderate rain

// 305 | Heavy rain at times

// 308 | Heavy rain

// 311 | Light freezing rain

// 314 | Moderate or heavy freezing rain

// 317 | Light sleet

// 320 | Moderate or heavy sleet

// 323 | Patchy light snow

// 326 | Light snow

// 329 | Patchy moderate snow

// 332 | Moderate snow

// 335 | Patchy heavy snow

// 338 | Heavy snow

// 350 | Ice pellets

// 353 | Light rain shower

// 356 | Moderate or heavy rain shower

// 359 | Torrential rain shower

// 362 | Light sleet showers

// 365 | Moderate or heavy sleet showers

// 368 | Light snow showers

// 371 | Moderate or heavy snow showers

// 374 | Light showers of ice pellets

// 377 | Moderate or heavy showers of ice pellets

// 386 | Patchy light rain with thunder

// 389 | Moderate or heavy rain with thunder

// 392 | Patchy light snow with thunder

// 395 | Moderate or heavy snow with thunder

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons (Tenki)            ║ Night                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// 113 | Clear

// 116 | Partly cloudy

// 119 | Cloudy

// 122 | Overcast

// 143 | Mist

// 176 | Patchy rain possible

// 179 | Patchy snow possible

// 182 | Patchy sleet possible

// 185 | Patchy freezing drizzle possible

// 200 | Thundery outbreaks possible

// 227 | Blowing snow

// 230 | Blizzard

// 248 | Fog

// 260 | Freezing fog

// 263 | Patchy light drizzle

// 266 | Light drizzle

// 281 | Freezing drizzle

// 284 | Heavy freezing drizzle

// 293 | Patchy light rain

// 296 | Light rain

// 299 | Moderate rain at times

// 302 | Moderate rain

// 305 | Heavy rain at times

// 308 | Heavy rain

// 311 | Light freezing rain

// 314 | Moderate or heavy freezing rain

// 317 | Light sleet

// 320 | Moderate or heavy sleet

// 323 | Patchy light snow

// 326 | Light snow

// 329 | Patchy moderate snow

// 332 | Moderate snow

// 335 | Patchy heavy snow

// 338 | Heavy snow

// 350 | Ice pellets

// 353 | Light rain shower

// 356 | Moderate or heavy rain shower

// 359 | Torrential rain shower

// 362 | Light sleet showers

// 365 | Moderate or heavy sleet showers

// 368 | Light snow showers

// 371 | Moderate or heavy snow showers

// 374 | Light showers of ice pellets

// 377 | Moderate or heavy showers of ice pellets

// 386 | Patchy light rain with thunder

// 389 | Moderate or heavy rain with thunder

// 392 | Patchy light snow with thunder

// 395 | Moderate or heavy snow with thunder
