// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Dataview                 ║ Subscription                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Shaddow Overflow
.block-language-dataviewjs,
.block-language-dataviewjs > div {
  overflow: visible !important;
}

// Remove Header
.dataview-subscription thead {
  display: none;
}

// Background
.dataview-subscription tr {
  display: grid;
  padding: var(--CREARTS-spacing-tertiary);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary);
  background: var(--CREARTS-background-primary) !important;
  box-shadow: var(--CREARTS-effects-flat);
}

.dataview-subscription td {
  display: flex;
  justify-content: center;  /* Zentriert den Inhalt horizontal */
  align-items: center;      /* Zentriert den Inhalt vertikal */

//background: rgba(255, 0, 0, 0.233) !important;
}




// Name
.dataview-subscription td:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  justify-content: left;
}

// Description
.dataview-subscription td:nth-child(2) {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-content: left;
}

// Costs
.dataview-subscription td:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 3;
  font-weight: bold;
  justify-content: right;
}

// Next Payment
.dataview-subscription td:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  font-weight: bold;
  justify-content: right;

  display: none;
}


// Total Value
.dataview-subscription td:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  font-weight: bold;
  justify-content: right;
}

