// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Components               ║ Ribbon                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.workspace-ribbon {
  gap: 0px;
  margin-top: calc(var(--CREARTS-height-header) + var(--CREARTS-layout-margin)) !important;
  margin-right: calc(var(--CREARTS-layout-margin) / 2);
  margin-bottom: calc(var(--CREARTS-layout-margin) + var(--CREARTS-height-statusbar));
  margin-left: calc(var(--CREARTS-layout-margin));
  padding: 0px;
  border: none;
}

// Actions
.side-dock-actions {
  justify-content: start;
  height: 100%;
  margin-bottom: var(--CREARTS-layout-margin-half);
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--CREARTS-background-secondary) !important;
  border-radius: var(--CREARTS-radius-primary);
}

// Settings
.side-dock-settings {
  justify-content: center !important;
  margin-top: var(--CREARTS-layout-margin-half);
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--CREARTS-background-secondary) !important;
  border-radius: var(--CREARTS-radius-primary);
}
