// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Components               ║ Titlebar                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.titlebar {
  z-index: 90;
  height: var(--CREARTS-height-titlebar);
  background: var(--CREARTS-background-tertiary);
}

// Focused
.is-focused .titlebar {
  background: var(--CREARTS-background-tertiary);
}

// Title
.titlebar-text {
  font-size: 0px;
}

.titlebar-text::after {
  content: "CreArts " var(--CREARTS-info-version) " - " var(--CREARTS-info-skin) " - by " var(--CREARTS-info-author);
  font-size: var(--font-ui-small);
}
