







.vertical-tab-header {
  container-type: size;
  container-name: settings-info;
}

.vertical-tab-header::after {
//  content:"Theme:" "\a" "・" var(--CREARTS-info-theme-name) " " var(--CREARTS-info-theme-version) "\a" "・by " var(--CREARTS-info-theme-author) "\a" "\a" "Skin:" "\a" "・" var(--CREARTS-info-skin-name) " " var(--CREARTS-info-skin-version) "\a" "・by " var(--CREARTS-info-skin-author) "\a";
 content:"Theme: " var(--CREARTS-info-theme-name) " " var(--CREARTS-info-theme-version) "\a" "by " var(--CREARTS-info-theme-author) "\a" "\a" "Skin: " var(--CREARTS-info-skin-name) " " var(--CREARTS-info-skin-version) "\a" "by " var(--CREARTS-info-skin-author) "\a";


  white-space: pre;
  flex-shrink: 0;


  display: flex;
  align-items: top;
  height: auto;

  margin: var(--CREARTS-spacing-tertiary) 0px 0px 0px;
  padding: calc(var(--CREARTS-spacing-tertiary) + 0px) var(--CREARTS-spacing-tertiary);

  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);

  font-size: var(--CREARTS-font-size-quaternary);
  font-weight: var(--CREARTS-font-weight-semibold);
  color: var(--CREARTS-text-primary);


  overflow: hidden;
}

@container settings-info (max-height: 450px) {
  .vertical-tab-header::after {
    display: none;
  }
}





//  content: "- CreArts " var(--CREARTS-info-version) " (" var(--CREARTS-info-skin) " by " var(--CREARTS-info-author) ")";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.vertical-tab-content {
  padding-top: var(--CREARTS-spacing-tertiary);
  padding-bottom: var(--CREARTS-spacing-tertiary);
  padding-inline-start: var(--CREARTS-spacing-tertiary);
  padding-inline-end: var(--CREARTS-spacing-tertiary);
}

.vertical-tab-content .setting-item-heading {
  font-weight: var(--CREARTS-font-weight-semibold);
}

// Font
.setting-item.setting-item-heading .setting-item-name {
  color: var(--text-normal);
  font-size: var(--CREARTS-font-size-ui-quaternary);

}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Sidebar                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.modal.mod-settings .vertical-tab-header .vertical-tab-header-group-container {
  padding: 0px;
}

.vertical-tab-header-group:last-child {
  margin: 0px;
}

.modal.mod-settings .vertical-tab-header {
  padding: var(--CREARTS-layout-margin);
  border: none;
  max-width: var(--CREARTS-width-settings);
// min-width: var(--CREARTS-width-settings);
}

// Background
.vertical-tab-header-group-container {
  border-radius: var(--CREARTS-radius-primary);
}

.vertical-tab-header-group {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin: 0px 0px var(--CREARTS-layout-margin) 0px;
  padding: var(--CREARTS-spacing-primary);
}

// Header
.vertical-tab-header-group-title {
  font-size: var(--CREARTS-font-size-ui-tertiary);
  color: var(--CREARTS-text-primary);
}




/* Standard für schmale Bildschirme / Laptops */
.modal.mod-settings .vertical-tab-header {
  width: 2220px; /* Obsidian Standard liegt meist bei 200-240px */
}

/* Widescreen-Optimierung: Ab 1600px Bildschirmbreite */
@media (min-width: 1600px) {
  .modal.mod-settings .vertical-tab-header {
    width: 280px; /* Mehr Platz für Menüpunkte & deine Info-Box */
  }


}














// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Searchbar                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.modal.mod-settings .vertical-tab-header .setting-search-container {
  margin: 0px 0px var(--CREARTS-layout-margin) 0px;
  padding: 0px;
}

// Background
.modal.mod-settings .vertical-tab-header .setting-search-results {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin: 0px 0px var(--CREARTS-layout-margin) 0px;
  padding: var(--CREARTS-spacing-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Content                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.vertical-tab-content-container .vertical-tab-content {
  background: var(--CREARTS-background-secondary);
  border-radius: var(--CREARTS-radius-primary);
  margin: var(--CREARTS-layout-margin) var(--CREARTS-layout-margin) var(--CREARTS-layout-margin) 0px;
  padding: var(--size-4-8);
}

// Header
.setting-group .setting-item-heading {
  padding: 0px;
}

// Items
.setting-group .setting-group-search:not(:empty) + .setting-items > .setting-item:first-child {
  border-top-left-radius: var(--CREARTS-radius-primary);
  border-top-right-radius: var(--CREARTS-radius-primary);
}

.setting-group .setting-item:not(.setting-item-heading),
.setting-item:not(.setting-item-heading) {
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary);
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
  margin-bottom: var(--CREARTS-spacing-tertiary);
  padding: var(--CREARTS-spacing-tertiary);
}

/*
.vertical-tab-content-container .installed-plugins-container {
  padding-top: 0px;
  border-top: unset;
}
*/

// Remove Divider
.setting-group .setting-item:not(.setting-item-heading)::before {
  display: none;
}


























// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Fullscreen                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


/*
.modal-container {
  align-items: end;
}


.modal-container .mod-sidebar-layout {
  display: flex;


  padding: unset;
  width: 100%;
  min-height: calc(100% - var(--CREARTS-height-titlebar));
  height: calc(100% - var(--CREARTS-height-titlebar));
  max-width: unset;
  max-height: calc(100% - var(--CREARTS-height-titlebar));
  overflow: hidden;

  flex-direction: column;
  border-radius: unset;

  border: none;
}
*/








// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Plugins                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Tenki - Tokei
.vertical-tab-content:has(.recent-files-donation) {
  display: flex;
  flex-direction: column;
}

.recent-files-donation {
  order: 99;
}

.recent-files-donation {
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary);
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
  padding: var(--CREARTS-spacing-tertiary) !important;
  width: 100%
}

// Highlightr
.hltrDonationSection {
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-radius: var(--CREARTS-radius-primary);
  border-color: var(--CREARTS-border-primary);
  background: var(--CREARTS-background-primary);
  box-shadow: var(--CREARTS-effects-flat);
  padding: var(--CREARTS-spacing-tertiary) !important;
  width: 100%;
  height: auto;
}











.setting-item-control input{
  background: var(--CREARTS-background-secondary);
  box-shadow: var(--CREARTS-effects-pressed);
  border-radius: var(--CREARTS-radius-secondary);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: var(--CREARTS-border-primary);
}



.setting-item-control .dropdown {
  background-color: var(--CREARTS-background-tertiary);
  border-radius: var(--CREARTS-radius-secondary);
  box-shadow: var(--CREARTS-effects-flat);
  border-width: var(--CREARTS-border-width);
  border-style: var(--CREARTS-border-style);
  border-color: var(--CREARTS-border-primary);
}


















// Spacing
.setting-group .setting-group-search {
    padding: 0px 0px var(--CREARTS-layout-margin) 0px;
}

.setting-group .setting-group-search > .search-input-container {
    margin-inline: 0px;
}






