
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features (Hometab)       ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.mod-root .workspace-tab-header[aria-label="Home"] {
  max-width: 40px;
}

// Spacing
.mod-root .workspace-tab-header[aria-label="Home"] .workspace-tab-header-inner {
  padding: 0px;
}

.mod-root .workspace-tab-header[aria-label="Home"] .workspace-tab-header-inner-title,
.mod-root .workspace-tab-header[aria-label="Home"] .mod-pinned,
.mod-root .workspace-tab-header[aria-label="Home"] .workspace-tab-header-inner-close-button {
  display: none;
}

// Hover
.mod-root .workspace-tab-header[aria-label="Home"]:hover {
  max-width: 80px;
}

.mod-root .workspace-tab-header[aria-label="Home"]:hover .workspace-tab-header-inner-title {
  display: none;
}

.mod-root .workspace-tab-header[aria-label="Home"]:hover .mod-pinned {
  display: flex;
}

.mod-root .workspace-tab-header[aria-label="Home"]:hover .workspace-tab-header-inner-close-button {
  display: block;
}

.mod-root .workspace-tab-header:not([aria-label="Home"]) {
    max-width: 140px;
}
