// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features (Checkbox)      ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

input[data-task="/"],
li[data-task="/"] > input,
li[data-task="/"] > p > input {
  --checkbox-marker-color: transparent;
  border:none;
  border-radius:0;
  background-image:none;
  background-color: currentColor;
}


/* [/] Incomplete */
input[data-task="/"],
li[data-task="/"] > input,
li[data-task="/"] > p > input {
  background-image:none;
  background-color:transparent;
  position:relative;
  overflow:hidden;
}


input[data-task="/"],
li[data-task="/"] > input,
li[data-task="/"] > p > input:after {
    top: 0;
    left: 0;
    content:" ";
    display:block;
    position:absolute;
    background-color: red;
    width:calc(50% - 0.5px);
    height:100%;
}
