// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features                 ║ Dashboard                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.dashboard .markdown-preview-sizer {
  padding-bottom: 0px !important;
}

// Divider
.dashboard hr {
  margin: var(--CREARTS-spacing-secondary) 0;
}


// Buttons
.dashboard .button-normal {
  width: 100%;
}
