// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Features                 ║ Home                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.home .markdown-preview-sizer {
  padding-bottom: 0px !important;
}

// Divider
.home hr {
  margin: var(--CREARTS-spacing-secondary) 0;
  opacity: 0;
}

// Buttons
.home .button-normal {
  width: 100%;
}
