// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ New Note Button          ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Icon
.clickable-icon[aria-label="New note"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: var(--CREARTS-background-primary);
  border-width: var(--CREARTS-border-width) !important;
  border-style: var(--CREARTS-border-style) !important;
  border-radius: var(--CREARTS-radius-secondary);
  border-color: var(--CREARTS-border-primary) !important;
  box-shadow: var(--CREARTS-effects-flat);
  z-index: 99;
  width: calc(100% - var(--CREARTS-layout-margin) - var(--CREARTS-layout-margin));
  height: var(--CREARTS-height-button);
  left: var(--CREARTS-layout-margin);
  bottom: var(--CREARTS-layout-margin);
  opacity: 1;
}

// text
.clickable-icon[aria-label="New note"]::after {
  content: attr(aria-label);
  text-overflow: ellipsis;
  font-weight: 600;
  color: var(--nav-item-color);
  background-size: 1.2rem;
  padding-left: var(--CREARTS-layout-margin-half);
}


// Spacing
.nav-files-container > div {
  margin-bottom: calc(var(--CREARTS-height-button) + var(--CREARTS-spacing-primary));
}
