/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Variables (Layout)              ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

:root {
  /* Layout */
  --CREARTS-layout-margin: 20px !important;
  --CREARTS-layout-margin-top: 20px !important;
  --CREARTS-layout-margin-left: 20px !important;
  --CREARTS-layout-margin-right: 20px !important;
  --CREARTS-layout-margin-bottom: 20px !important;

  /* Spacing */
  --CREARTS-spacing-primary: 8px !important;
  --CREARTS-spacing-secondary: 12px !important;
  --CREARTS-spacing-tertiary: 16px !important;

  /* Radius */
  --CREARTS-radius-primary: 18px !important;
  --CREARTS-radius-secondary: 12px !important;
  --CREARTS-radius-tertiary: 6px !important;

  /* Width */
  --CREARTS-width-left: 390px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Variables (Skin)                ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

:root {
/* Settings */
  --CREARTS-lightness: var(--SKIN-lightness, 0%) !important;
  --CREARTS-saturation: var(--SKIN-saturation, 0%) !important;
  --CREARTS-alpha: var(--SKIN-alpha, 0%) !important;

/* Accent */
  --CREARTS-accent-h: var(--SKIN-accent-h, 338) !important;
  --CREARTS-accent-s: var(--SKIN-accent-s, 92%) !important;
  --CREARTS-accent-l: var(--SKIN-accent-l, 42%) !important;
  --CREARTS-accent-a: var(--SKIN-accent-a, 1) !important;

/* Content */
  --CREARTS-content-h: var(--SKIN-content-h, 230) !important;
  --CREARTS-content-s: var(--SKIN-content-s, 70%) !important;
  --CREARTS-content-l: var(--SKIN-content-l, 86%) !important;
  --CREARTS-content-a: var(--SKIN-content-a, 1) !important;

/* Base */
  --CREARTS-base-h: var(--SKIN-base-h, 230) !important;
  --CREARTS-base-s: var(--SKIN-base-s, 19%) !important;
  --CREARTS-base-l: var(--SKIN-base-l, 23%) !important;
  --CREARTS-base-a: var(--SKIN-base-a, 1) !important;
}


/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Variables (Palette)             ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

:root {
  /* Accent */
  --CREARTS-accent-primary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 8%), var(--CREARTS-accent-a)) !important;
  --CREARTS-accent-secondary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 8%), var(--CREARTS-accent-a)) !important;
  --CREARTS-accent-tertiary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 16%), var(--CREARTS-accent-a)) !important;


  /* Background */
  --CREARTS-background-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 0% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;
  --CREARTS-background-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;
  --CREARTS-background-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 6% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;

  /* Interface */
  --CREARTS-interface-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + 8% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;
  --CREARTS-interface-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + 16% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;
  --CREARTS-interface-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + 24% + var(--CREARTS-lightness)), var(--CREARTS-base-a)) !important;


  /* Text */
  --CREARTS-text-primary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), calc(var(--CREARTS-content-l) - 0%), var(--CREARTS-content-a)) !important;
  --CREARTS-text-secondary: hsla(var(--CREARTS-content-h), calc(var(--CREARTS-content-s) - 24%), calc(var(--CREARTS-content-l) - 6%), var(--CREARTS-content-a)) !important;
  --CREARTS-text-tertiary: hsla(var(--CREARTS-content-h), calc(var(--CREARTS-content-s) - 48%), calc(var(--CREARTS-content-l) - 12%), var(--CREARTS-content-a)) !important;
  --CREARTS-text-accent: hsla(var(--CREARTS-text-h), var(--CREARTS-text-s), calc(var(--CREARTS-text-l))) !important;

  /* Border */
  --CREARTS-border-primary: var(--CREARTS-interface-primary) !important;
  --CREARTS-border-secondary: var(--CREARTS-interface-secondary) !important;
  --CREARTS-border-tertiary: var(--CREARTS-interface-tertiary) !important;

  /* Effects */
  --CREARTS-effects-flat: 2px 2px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), -2px -2px 12px var(--CREARTS-background-secondary) !important;
  --CREARTS-effects-pressed: inset 6px 6px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), inset -6px -6px 20px var(--CREARTS-background-secondary) !important;

  --CREARTS-accent: #AF0846 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Variables (Default)             ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

.dark {
    --text-primary: var(--CREARTS-text-primary) !important;
    --text-secondary: var(--CREARTS-text-secondary) !important;
    --text-tertiary: var(--CREARTS-text-tertiary) !important;
    --text-quaternary: var(--CREARTS-text-tertiary) !important;
    --border-light: hsla(0,0%,100%,.1) !important;
    --border-medium: hsla(0,0%,100%,.15) !important;
    --border-heavy: hsla(0,0%,100%,.2) !important;
    --border-xheavy: hsla(0,0%,100%,.25) !important;
    --main-surface-primary: var(--CREARTS-background-tertiary) !important;
    --main-surface-secondary: var(--CREARTS-background-primary) !important;
    --main-surface-tertiary: var(--gray-600) !important;
    --sidebar-surface-primary: var(--gray-900) !important;
    --sidebar-surface-secondary: var(--gray-800) !important;
    --sidebar-surface-tertiary: var(--gray-700) !important;
    --link: var(--CREARTS-text-primary) !important;
    --link-hover: var(--CREARTS-accent-red) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Width                           ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

.md\:max-w-3xl {
  max-width: 800px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Zoom                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

[id="__next"] {
  zoom: 90% !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Font                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

body {
  font-family: Quicksand !important;
  font-weight: 500 !important;
}


.h-9 {
  color: var(--CREARTS-text-tertiary) !important;
  font-size: 18px !important;
  font-weight: 800 !important;
}

.dark .dark\:bg-transparent {
  color: var(--CREARTS-text-primary) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Mirror                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Self */

.text-base.group {
  transform: scaleX(-1) !important;
}

.text-base.group [class="flex-col gap-1 md:gap-3"] {
  transform: scaleX(1) !important;
}

.text-base.group .font-semibold {
  transform: scaleX(-1) !important;
  text-align: right !important;
  margin-left: var(--CREARTS-spacing-secondary) !important;
}

[data-message-author-role="user"] > div {
  transform: scaleX(-1) !important;
}


/* Ai */

.text-base.group:has(div > div > div > svg) {
  transform: scaleX(1) !important;
}

.text-base.group:has(div > div > div > svg) [class="flex-col gap-1 md:gap-3"] {
  transform: scaleX(1) !important;
}

.text-base.group:has(div > div > div > svg) .font-semibold {
  transform: scaleX(1) !important;
  text-align: left !important;
  margin-left: var(--CREARTS-spacing-secondary) !important;
}


/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ General                         ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Background */
.dark body {
  background: var(--CREARTS-background-secondary) !important;
}

/* Remove Information */
[role="presentation"] .text-center {
  display: none
}

/* Transform */
.text-base.group [class="flex-col gap-1 md:gap-3"] {
  transform: scaleX(1) !important;
}

/* Name */
.font-semibold {
  margin-left: 20px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Remove                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Scrollbars */
::-webkit-scrollbar {
 display: none !important;
}

/* Help */
.lg\:flex {
 display: none !important;
}



/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Header                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Background */
[role="presentation"] .sticky {
  background: var(--CREARTS-background-primary) !important;
  border-radius: var(--CREARTS-radius-primary) !important;
  margin: var(--CREARTS-layout-margin) !important;
  opacity: 0 !important;
}

/* Hover */
[role="presentation"] .sticky:hover {
  opacity: 1 !important;
}

[style="pointer-events: none !important;"] .sticky {
  opacity: 1 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Footer                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Background */
[class="w-full pt-2 md:pt-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:w-[calc(100%-.5rem)]"] {
  background: transparent !important;
  margin: var(--CREARTS-layout-margin) !important;
}

/* Searchbar */
.dark .dark\:bg-transparent {
  background: var(--CREARTS-background-secondary) !important;
  box-shadow: var(--CREARTS-effects-pressed) !important;
}

.border-token-border-medium {
border: none !important;
}

/* Suggestions */
[role="presentation"] .btn-neutral {
  background: var(--CREARTS-background-primary) !important;
  box-shadow: var(--CREARTS-effects-flat) !important;
  border: none !important;
}

.xl\:max-w-3xl {
  padding: 0px !important;
  margin: 0px !important;
  max-width: calc(100% - 10px - var(--CREARTS-layout-margin)) !important;
}

.md\:max-w-none {
  padding: 0px !important;
}

/* Opacity */
.opacity-50 {
    opacity: 1.0 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Chat                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

[role="presentation"] ol {
  margin-left: calc(var(--CREARTS-layout-margin) / 2) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Self                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Bubble */
[data-message-author-role="user"] {
  background: var(--CREARTS-accent) !important;
  border-radius: 0px var(--CREARTS-radius-primary) var(--CREARTS-radius-primary) var(--CREARTS-radius-primary) !important;
  box-shadow: var(--CREARTS-effects-flat) !important;
  color: white !important;
  padding: var(--CREARTS-spacing-tertiary) !important;
  margin-bottom: var(--CREARTS-layout-margin) !important;
  margin-left: var(--CREARTS-layout-margin) !important;
  width: auto !important;
  margin-top: var(--CREARTS-spacing-secondary) !important;
  margin-right: auto !important;
}

/* Corner */
[data-message-author-role="user"]:before {
  content: "" !important;
  position: absolute !important;
  margin-bottom: -20px !important;
  border-left: 12px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-top: 12px solid var(--CREARTS-accent) !important;
  left: 10px !important;
  top: 0 !important;
  margin-top: var(--CREARTS-spacing-secondary) !important;
}

/* Avatar */
[role="presentation"] .items-end div {
  width: 60px !important;
  height: 60px !important;
}

[role="presentation"] .items-end div img {
  width: 60px !important;
  height: 60px !important;
}

/* Highlight Hover */
.py-2:hover:has([data-message-author-role="user"]) {
background: var(--CREARTS-background-primary) !important;
border-radius: var(--CREARTS-radius-primary) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Ai                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Bubble */
[data-message-author-role="assistant"] {
  background: var(--CREARTS-background-primary) !important;
  border-radius: 0px var(--CREARTS-radius-primary) var(--CREARTS-radius-primary) var(--CREARTS-radius-primary) !important;
  box-shadow: var(--CREARTS-effects-flat) !important;
  padding: var(--CREARTS-spacing-tertiary) !important;
  margin-bottom: var(--CREARTS-layout-margin) !important;
  margin-left: var(--CREARTS-layout-margin) !important;
  width: auto !important;
  margin-top: var(--CREARTS-spacing-secondary) !important;
  margin-right: auto !important;
}

/* Corner */
[data-message-author-role="assistant"]:before {
  content: "" !important;
  position: absolute !important;
  margin-bottom: -20px !important;
  border-left: 12px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-top: 12px solid var(--CREARTS-background-primary) !important;
  left: 10px !important;
  top: 0 !important;
  margin-top: var(--CREARTS-spacing-secondary) !important;
}

/* Avatar */
[role="presentation"] .items-end div:has(svg) {
  width: 60px !important;
  height: 60px !important;
  background-image: url("https://i.imgur.com/ONNUHyR.png") !important;
  background-size: cover !important;
  border-radius: 90% !important;
  padding: 0px !important;
}

[role="presentation"] .items-end div:has(svg) .icon-sm {
  display: none
}

/* Highlight Hover */
.py-2:hover:has([data-message-author-role="assistant"]) {
background: var(--CREARTS-background-primary) !important;
border-radius: var(--CREARTS-radius-primary) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Chat Menu                       ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

.text-base .mt-1 {
  background: var(--CREARTS-background-tertiary) !important;
  border-radius: var(--CREARTS-radius-secondary) !important;
  position: absolute !important;
  top: -10px !important;
  right: 20px !important;
  padding: 4px 8px 4px 8px !important;
  opacity: 0 !important;
}

.text-base:hover .mt-1 {
  opacity: 1 !important;
}


.md\:invisible {
    visibility: visible !important;
}


/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Chat                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */





hr {
  border-color: var(--CREARTS-background-primary) !important;
  border-width: 2px !important;
  margin-bottom: 1.6em !important;
  margin-top: 1.6em !important;
}

h1 {
  font-size: 26px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 16px !important;
}

ul {
  margin-left: 10px !important;
}


pre code {
  white-space: pre-wrap !important; /* Erlaubt den Umbruch von Text */
  word-wrap: break-word !important; /* Umbruch von langen Wörtern, die nicht in den Container passen */
  overflow-wrap: break-word !important; /* Eine zusätzliche Maßnahme für den Umbruch von langen Wörtern */
}



/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Side Menu                       ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Background */
.bg-token-sidebar-surface-primary {
  background: transparent !important;
}

.from-token-sidebar-surface-primary {
  --tw-gradient-from: var(--CREARTS-background-primary) var(--tw-gradient-from-position) !important;
}

/* Item - Hover */
.bg-token-sidebar-surface-secondary {
  background: var(--CREARTS-background-secondary) !important;
}

.hover\:bg-token-sidebar-surface-secondary:hover {
  background-color: #3f4558 !important;
}

.group:hover .group-hover\:from-token-sidebar-surface-secondary {
  --tw-gradient-from: #3f4558 var(--tw-gradient-from-position) !important;
}

/* Item - Active */
.bg-token-sidebar-surface-tertiary {
  background: var(--CREARTS-accent) !important;
  color: white !important;
}

.from-token-sidebar-surface-tertiary {
  --tw-gradient-from: var(--CREARTS-accent) var(--tw-gradient-from-position) !important;
}



/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Side Menu (Width)               ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */



/*
[style="transform: translateX(260px) translateY(-50%) rotate(0deg) translateZ(0px) !important;"] {
transform: translateX(var(--CREARTS-width-left)) !important;
}



[style="width: 260px !important; visibility: visible !important;"][class="flex-shrink-0 overflow-x-hidden bg-token-sidebar-surface-primary"] {
width: var(--CREARTS-width-left) !important;
}

 .w-\[260px\] {
width: var(--CREARTS-width-left) !important;
}
*/










/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Side Menu (New Chat)            ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Background */
.pt-3\.5 {
background: var(--CREARTS-background-secondary) !important;
  padding: 20px 20px 20px 20px !important;
}

/* New Chat Button */
.pt-3\.5 .bg-token-sidebar-surface-primary {
  background: var(--CREARTS-background-primary) !important;
}

.pt-3\.5 .bg-token-sidebar-surface-primary:hover {
  background: #3f4558 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Side Menu (History)             ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Spacing */
.pb-3\.5.px-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: var(--CREARTS-layout-margin) !important;

}

/* Background */
.mt-5 {

margin-left: 20px !important;


  background: var(--CREARTS-background-primary) !important;
  border-radius: var(--CREARTS-radius-secondary) !important;
  box-shadow: var(--CREARTS-effects-flat) !important;
  margin-top: 0px !important;
  margin-bottom: 8px !important;
  margin-right: 20px !important;

}
















.pb-3\.5 ol {
margin-left: 8px !important;
margin-right: 8px !important;
}


.pb-3\.5 > div > div {


}



/*
.pb-3\.5 .sticky + div .bg-token-sidebar-surface-primary {
  background: transparent !important;
}

.pb-3\.5 .sticky + div .bg-token-sidebar-surface-primary:hover {
  background: #3f4558 !important;
}
*/








.mt-5:has(ol > li) {
  padding-bottom: 8px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════╗ */
/* ║ ChatGPT                  ║ Side Menu (Account)             ║ */
/* ╚══════════════════════════╩═════════════════════════════════╝ */

/* Account */
.pb-3\.5 .pt-2 {
  background: red!important;
  border-radius: var(--CREARTS-radius-secondary) !important;


  margin-left: 20px !important;
  margin-top: 20px !important;
 

  padding: 8px !important;

}













.pb-3\.5 .pt-2 > div {

background: blue !important;
}

/* Team Ad */

[class="group flex gap-2 p-2.5 text-sm cursor-pointer focus:ring-0 radix-disabled:pointer-events-none radix-disabled:opacity-50 group items-center hover:bg-token-sidebar-surface-secondary m-0 rounded-lg px-2"] {
background: blue !important;
}




/* ╔════════════════════════════════════════════════════════════╗ */
/* ║                                                            ║ */
/* ╚════════════════════════════════════════════════════════════╝ */


.markdown td {
padding: 12px !important;
border: unset !important;
}


.markdown th {
  background: var(--CREARTS-background-primary) !important;
border: unset !important;
}





/* Body */
.markdown  tr:nth-child(odd) {
  background: var(--CREARTS-background-secondary) !important;
}

.markdown tr:nth-child(even) {
  background: var(--CREARTS-background-primary) !important;
}
 
table tr {
  border-color: transparent !important;
}
