// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Colors)        ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.callout[data-callout="colors"] {
  background: transparent;
  box-shadow: none;
  border: none;
  overflow: visible;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

// Remove Title
.callout[data-callout="colors"] .callout-title {
  display: none;
}

// Remove Break
[data-callout="colors"] br {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Colors)        ║ Element                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="colors"] p  {
  display: flex;
  flex-wrap: wrap;
  gap: var(--CREARTS-spacing-tertiary);
  margin: 0px;
}

[data-callout="colors"] span {
  display: flex;
  align-items: center;
  border-radius: var(--CREARTS-radius-secondary);
  font-weight: 500;
  padding: 0px 6px 0px 6px;
  flex: 1 1 180px;
  box-shadow: var(--CREARTS-effects-flat);
}

[data-callout="colors"] span::before {
  content: "#";
  font-weight: 800;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Colors)        ║ Selection                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[data-callout="colors"] span {
  user-select: all;
}

[data-callout="colors"] ::selection  {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
