// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Directory)     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.callout[data-callout="directory"] {
  background: transparent;
  box-shadow: none;
  border: none;
  overflow: visible;
}

// Remove Title
.callout[data-callout="directory"] .callout-title {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Callouts (Directory)     ║                                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.callout[data-callout="directory"] {
  font-family: var(--font-monospace);
}






.callout[data-callout="directory"] .list-bullet::after {
  display: none;
}



.callout[data-callout="directory"] .collapse-indicator {
  opacity: 1;
}














