// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "base/colors";
@forward "base/cursor";
@forward "base/fullscreen";
@forward "base/icons";
@forward "base/image";
@forward "base/kbd";
@forward "base/mobile";
//@forward "base/print";
@forward "base/text";
@forward "base/typography";
@forward "base/remove";
@forward "base/scrollbars";
@forward "base/callouts";

@forward "base/tables";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Callouts                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "callouts/banners";
@forward "callouts/buttons";
@forward "callouts/colors";
@forward "callouts/columns";
@forward "callouts/directory";
@forward "callouts/gallery";
@forward "callouts/infobox";
@forward "callouts/messages";
@forward "callouts/shortcuts";
@forward "callouts/spacer";
@forward "callouts/image";
@forward "callouts/timeline";


//@forward "callouts/callout";
//@forward "callouts/caption";
//@forward "callouts/colors";
//@forward "callouts/commands";
//@forward "callouts/contents";
//@forward "callouts/infobox";
//@forward "callouts/message";
//@forward "callouts/tables";
//@forward "callouts/tags";
//@forward "callouts/tasks";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Components                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "components/content";
@forward "components/header";
@forward "components/ribbon";
@forward "components/settings";
@forward "components/sidebar";
@forward "components/statusbar";
@forward "components/titlebar";
@forward "components/ui";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Effects                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

//@forward "effects/hover";
//@forward "effects/imagezoom";
@forward "effects/neumorphism";
@forward "effects/order";
//@forward "effects/pets";
@forward "effects/skinpreview";
//@forward "effects/wallpaper";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Features                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "features/checkbox";
//@forward "features/infobox";
//@forward "features/notebutton";
//@forward "features/tasks";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Pages                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "pages/dashboard";
@forward "pages/paper";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Community)                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/community/banners";
@forward "plugins/community/calendar";
@forward "plugins/community/customframes";
@forward "plugins/community/editingtoolbar";
@forward "plugins/community/grandfather";
@forward "plugins/community/graph";
@forward "plugins/community/hometab";
@forward "plugins/community/kanban";
@forward "plugins/community/notegallery";
@forward "plugins/community/pomodorotimer";
@forward "plugins/community/recentfiles";
@forward "plugins/community/settingssearch";
@forward "plugins/community/sortable";
@forward "plugins/community/stylesettings";
@forward "plugins/community/tenki";
@forward "plugins/community/tokei";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Core)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/core/bases";
@forward "plugins/core/canvas";
@forward "plugins/core/files";
@forward "plugins/core/search";
@forward "plugins/core/tags";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Variables                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "variables/dark";
@forward "variables/general";
@forward "variables/light";
@forward "variables/skins";

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Testing...                                                                                                         ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝


/*
.theme-dark {
  // Accent
  --CREARTS-accent-h: var(--SKIN-accent-h, 264);
  --CREARTS-accent-s: var(--SKIN-accent-s, 100%);
  --CREARTS-accent-l: var(--SKIN-accent-l, 66%);
  --CREARTS-accent-a: var(--SKIN-accent-a, 1);

  // Content
  --CREARTS-content-h: var(--SKIN-content-h, 235) !important;
  --CREARTS-content-s: var(--SKIN-content-s, 10%) !important;
  --CREARTS-content-l: var(--SKIN-content-l, 80%) !important;
  --CREARTS-content-a: var(--SKIN-content-a, 1);

  // Base
  --CREARTS-base-h: var(--SKIN-base-h, 240) !important;
  --CREARTS-base-s: var(--SKIN-base-s, 10%) !important;
  --CREARTS-base-l: var(--SKIN-base-l, 14%) !important;
  --CREARTS-base-a: var(--SKIN-base-a, 1) !important;
}
*/

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Testing...                                                                                                         ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝


/*
// Ribbon Vault Profile

.workspace-sidedock-vault-profile {
  position: fixed;
  left: var(--CREARTS-layout-margin);
  bottom: calc(var(--CREARTS-height-statusbar) + var(--CREARTS-layout-margin));
  z-index: 20;
  background: red !important;

  display: flex;
  flex-direction: column-reverse;
  margin: 0px !important;

  padding: 0px !important;


  width: var(--CREARTS-width-ribbon) !important;
}


.workspace-drawer-vault-switcher {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-2-2) var(--size-2-3);
    cursor: var(--cursor);
    border-radius: var(--clickable-icon-radius);
    color: var(--icon-color);
    opacity: var(--icon-opacity);
    transition: opacity var(--anim-duration-fast) ease-in-out;
    height: 40px !important;
}



.mod-left-split .workspace-tabs.mod-top .workspace-tab-container,
.mod-right-split .workspace-tabs.mod-top .workspace-tab-container {
  margin: var(--CREARTS-layout-margin) var(--CREARTS-layout-margin-half) calc(var(--CREARTS-height-statusbar) + var(--CREARTS-layout-margin)) var(--CREARTS-layout-margin-half);
}


.workspace-drawer-vault-name {
  display: none;
}
*/
