// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Variables                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "variables/init";
@forward "variables/dark";
@forward "variables/general";
@forward "variables/light";
@forward "variables/skins";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Components                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "components/content";
@forward "components/ribbon";
@forward "components/settings"; // NEED REWORK
@forward "components/sidebar";
@forward "components/statusbar";
@forward "components/titlebar";
@forward "components/ui";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "base/cursor";
@forward "base/image";
@forward "base/kbd";
//@forward "base/mobile"; // NEED REWORK
//@forward "base/print"; // NEED REWORK
@forward "base/remove";
@forward "base/scrollbars";
@forward "base/tables";
@forward "base/text";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Icons                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "icons/checklist";
@forward "icons/files";
@forward "icons/replace"; // use Mixin
@forward "icons/settings"; // use Mixin
@forward "icons/tabs"; // use Mixin
//@forward "icons/tenki";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Callouts                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "callouts/general";
@forward "callouts/flat"; // use Mixin
//@forward "callouts/outline"; // use Mixin
//@forward "callouts/pressed"; // use Mixin

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Addons                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Callouts
@forward "addons/callouts/alignment"; // Done
@forward "addons/callouts/banners"; // Done
@forward "addons/callouts/buttons"; // Done
@forward "addons/callouts/caption"; // Done
@forward "addons/callouts/colors";
@forward "addons/callouts/columns";
@forward "addons/callouts/directory";
@forward "addons/callouts/gallery"; // Done
@forward "addons/callouts/infobox";
@forward "addons/callouts/messages"; // Done
@forward "addons/callouts/shortcuts"; // Done
@forward "addons/callouts/spacer"; // Done
@forward "addons/callouts/timeline"; // Done

// Features
@forward "addons/features/hometab";
//@forward "addons/features/pluginorder";
//@forward "addons/features/skinpreview";

// Pages
@forward "addons/pages/paper";
@forward "addons/pages/verses";

// Toggle
//@forward "addons/toggle/neumorphism";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Community)                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/community/banners";
@forward "plugins/community/calendar";
@forward "plugins/community/customframes";
@forward "plugins/community/dynamicviews";
@forward "plugins/community/editingtoolbar";
@forward "plugins/community/grandfather";
@forward "plugins/community/pomodorotimer";
@forward "plugins/community/stylesettings";
@forward "plugins/community/tenki";
@forward "plugins/community/tokei";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Core)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/core/bases";
@forward "plugins/core/canvas";
@forward "plugins/core/files";
@forward "plugins/core/graph";
@forward "plugins/core/search";
@forward "plugins/core/tags";

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skin Testing...                                                                                                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

/*
.theme-dark {
  // Accent
  --CREARTS-accent-h: var(--SKIN-accent-h, 264);
  --CREARTS-accent-s: var(--SKIN-accent-s, 100%);
  --CREARTS-accent-l: var(--SKIN-accent-l, 66%);
  --CREARTS-accent-a: var(--SKIN-accent-a, 1);

  // Content
  --CREARTS-content-h: var(--SKIN-content-h, 235);
  --CREARTS-content-s: var(--SKIN-content-s, 10%);
  --CREARTS-content-l: var(--SKIN-content-l, 80%);
  --CREARTS-content-a: var(--SKIN-content-a, 1);

  // Base
  --CREARTS-base-h: var(--SKIN-base-h, 240);
  --CREARTS-base-s: var(--SKIN-base-s, 10%);
  --CREARTS-base-l: var(--SKIN-base-l, 14%);
  --CREARTS-base-a: var(--SKIN-base-a, 1);
}
*/

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CSS Testing...                                                                                                     ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

/*
--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
--interactive-normal: var(--color-base-30);
--interactive-accent-hover: var(--color-accent-1);
*/







/*
author: BunkerD
source: https://forum.obsidian.md/t/a-callout-for-a-folder-structure/61366
*/

.callout[data-callout="folder" i] {
  --list-indent: 0em;
  --indentation-guide-color: transparent;
  overflow: scroll;
}

.callout[data-callout="folder" i] .list-bullet {
  display: none;
}

.callout[data-callout="folder" i] ul {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.callout[data-callout="folder" i] li {
  --list-indent: 1.5em;
  list-style-type: none;
  font-family: var(--font-monospace);
  white-space: nowrap;
}

.callout[data-callout="folder" i] li li {
  position: relative;
  box-sizing: border-box;
}

.callout[data-callout="folder" i] li li::before,
.callout[data-callout="folder" i] li li::after {
  content: "";
  position: absolute;
  left: -1em;
  background: var(--list-marker-color);
}

.callout[data-callout="folder" i] li li::before {
  top: 0.85em;
  width: 10px;
  height: 1.5px;
  margin: auto;
}

.callout[data-callout="folder" i] li li::after {
  top: 0;
  bottom: 0;
  width: 1.5px;
  height: 100%;
}

.callout[data-callout="folder" i] li li:last-child::after {
  height: 0.85em;
}

.callout[data-callout="folder" i] li .list-collapse-indicator {
  position: absolute;
  left: -2em;
  margin: 0;
}

.callout[data-callout="folder" i] li em {
  opacity: 0.5;
  font-family: var(--font-text);
}

.callout[data-callout="folder" i] li code {
  font-size: 1em;
  font-family: var(--font-monospace);
  font-style: normal !important;
  background: none;
  white-space: pre;
  margin: 0;
  padding: 0;
}

.callout[data-callout="folder" i] li mark {
  font-style: italic;
  color: #d3a3e5;
}

.callout[data-callout="folder" i] .callout-content {
  overflow-x: visible;
}
