// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Variables                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "variables/init";
@forward "variables/dark";
@forward "variables/general";
@forward "variables/light";
@forward "variables/skins";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "base/cursor";
//@forward "base/mobile"; // NEED REWORK
//@forward "base/print"; // NEED REWORK
@forward "base/remove";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "layout/ribbon";
@forward "layout/settings";
@forward "layout/sidebar";
@forward "layout/statusbar";
@forward "layout/titlebar";
@forward "layout/ui";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Components                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "components/content";
@forward "components/image";
@forward "components/kbd";
@forward "components/scrollbars";
@forward "components/tables";
@forward "components/text";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Icons                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "icons/checklist";
@forward "icons/files";
@forward "icons/replace"; // use Mixin
@forward "icons/settings"; // use Mixin
@forward "icons/tabs"; // use Mixin
//@forward "icons/tenki";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Callouts                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "callouts/general";
@forward "callouts/flat"; // use Mixin
//@forward "callouts/outline"; // use Mixin
//@forward "callouts/pressed"; // use Mixin

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Addons                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Callouts
@forward "addons/callouts/alignment"; // Done
@forward "addons/callouts/banners"; // Done
@forward "addons/callouts/buttons"; // Done
@forward "addons/callouts/caption"; // Done
@forward "addons/callouts/colors";
@forward "addons/callouts/columns";
@forward "addons/callouts/directory";
@forward "addons/callouts/divider"; // Done
@forward "addons/callouts/gallery"; // Done
@forward "addons/callouts/infobox";
@forward "addons/callouts/messages"; // Done
@forward "addons/callouts/shortcuts"; // Done
@forward "addons/callouts/spacer"; // Done
@forward "addons/callouts/text"; // Done
@forward "addons/callouts/timeline"; // Done

// Features
@forward "addons/features/hometab";
//@forward "addons/features/pluginorder";
//@forward "addons/features/skinpreview";

// Pages
@forward "addons/pages/paper";
@forward "addons/pages/verses";

// Toggle
@forward "addons/toggle/neumorphism";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Community)                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/community/calendar";
@forward "plugins/community/dynamicviews";
@forward "plugins/community/editingtoolbar";
@forward "plugins/community/grandfather";
@forward "plugins/community/pomodorotimer";
@forward "plugins/community/stylesettings";
@forward "plugins/community/tenki";
@forward "plugins/community/tokei";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Plugins (Core)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@forward "plugins/core/bases";
@forward "plugins/core/canvas";
@forward "plugins/core/files";
@forward "plugins/core/graph";
@forward "plugins/core/search";
@forward "plugins/core/tags";

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skin Testing...                                                                                                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

/*
.theme-dark {
  // Accent
  --CREARTS-accent-h: var(--SKIN-accent-h, 264);
  --CREARTS-accent-s: var(--SKIN-accent-s, 100%);
  --CREARTS-accent-l: var(--SKIN-accent-l, 66%);
  --CREARTS-accent-a: var(--SKIN-accent-a, 1);

  // Content
  --CREARTS-content-h: var(--SKIN-content-h, 235);
  --CREARTS-content-s: var(--SKIN-content-s, 10%);
  --CREARTS-content-l: var(--SKIN-content-l, 80%);
  --CREARTS-content-a: var(--SKIN-content-a, 1);

  // Base
  --CREARTS-base-h: var(--SKIN-base-h, 240);
  --CREARTS-base-s: var(--SKIN-base-s, 10%);
  --CREARTS-base-l: var(--SKIN-base-l, 14%);
  --CREARTS-base-a: var(--SKIN-base-a, 1);
}
*/

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CSS Testing...                                                                                                     ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

/*
--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
--interactive-normal: var(--color-base-30);
--interactive-accent-hover: var(--color-accent-1);
*/


//.metadata-property-value .internal-link, .markdown-rendered .internal-link


.callout[data-callout="buttons"] .internal-link.is-unresolved {
  color: var(--text-error);
  background: color-mix(in oklch, var(--background-modifier-error) 10%, transparent);
  border-color: color-mix(in oklch, var(--background-modifier-error) 40%, transparent);
  opacity: 1.0;


}
.callout[data-callout="buttons"] .internal-link.is-unresolved:hover {
  color: var(--text-error);
  text-decoration-color: var(--text-error);
  text-decoration-line: underline;
  text-decoration-style: dashed;
}




.markdown-rendered .internal-link.is-unresolved {
  color: var(--text-error);
  opacity: 1.0;
}

.markdown-rendered .internal-link.is-unresolved:hover {
  color: var(--text-error);
  text-decoration-color: var(--text-error);
  text-decoration-line: underline;
  text-decoration-style: dashed;
}


















.cm-line.cm-active {
  background: var(--CREARTS-background-primary);
 // border-radius: var(--CREARTS-radius-tertiary);

    padding: var(--CREARTS-spacing-primary);
  margin: calc(var(--CREARTS-spacing-primary-half) * -1);

}











// Resize Handle
.workspace-leaf-resize-handle {
  border-color: transparent;
}

.workspace-split:hover .workspace-leaf-resize-handle {
  border-color: var(--CREARTS-interface-primary) !important;
}
