// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Light                    ║ Custom                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-light {
// Accent
--CREARTS-accent-primary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 0%), var(--CREARTS-accent-a));
--CREARTS-accent-secondary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 8%), var(--CREARTS-accent-a));
--CREARTS-accent-tertiary: hsla(var(--CREARTS-accent-h), var(--CREARTS-accent-s), calc(var(--CREARTS-accent-l) - 16%), var(--CREARTS-accent-a));

// Text
--CREARTS-text-primary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0));
--CREARTS-text-secondary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0.2));
--CREARTS-text-tertiary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0.4));

// Background
--CREARTS-background-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-primary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-background-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-secondary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-background-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-tertiary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));

// Interface
--CREARTS-interface-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-primary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-interface-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-secondary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-interface-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-tertiary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));

// Border
--CREARTS-border-primary: var(--CREARTS-interface-primary);
--CREARTS-border-secondary: var(--CREARTS-interface-secondary);
--CREARTS-border-tertiary: var(--CREARTS-interface-tertiary);

// Effects
--CREARTS-effects-flat: 2px 2px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), -2px -2px 12px var(--CREARTS-background-secondary);
--CREARTS-effects-pressed: inset 6px 6px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), inset -6px -6px 20px var(--CREARTS-background-secondary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Light                    ║ Default                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-light {

// ╔══════════════════════════╗
// ║ Highlight                ║
// ╚══════════════════════════╝

//--highlight-mix-blend-mode: darken;

// ╔══════════════════════════╗
// ║ Mono                     ║
// ╚══════════════════════════╝

//--mono-rgb-0: 255, 255, 255;
//--mono-rgb-100: 0, 0, 0;

// ╔══════════════════════════╗
// ║ Color                    ║
// ╚══════════════════════════╝

//--color-red: #e93147;
//--color-red-rgb: 233, 49, 71;
//--color-orange: #ec7500;
//--color-orange-rgb: 236, 117, 0;
//--color-yellow: #e0ac00;
//--color-yellow-rgb: 224, 172, 0;
//--color-green: #08b94e;
//--color-green-rgb: 8, 185, 78;
//--color-cyan: #00bfbc;
//--color-cyan-rgb: 0, 191, 188;
//--color-blue: #086ddd;
//--color-blue-rgb: 8, 109, 221;
//--color-purple: #7852ee;
//--color-purple-rgb: 120, 82, 238;
//--color-pink: #d53984;
//--color-pink-rgb: 213, 57, 132;

// ╔══════════════════════════╗
// ║ Color Base               ║
// ╚══════════════════════════╝

//--color-base-00: #ffffff;
//--color-base-05: #fcfcfc;
//--color-base-10: #fafafa;
//--color-base-20: #f6f6f6;
//--color-base-25: #e3e3e3;
//--color-base-30: #e0e0e0;
//--color-base-35: #d4d4d4;
//--color-base-40: #bdbdbd;
//--color-base-50: #ababab;
//--color-base-60: #707070;
//--color-base-70: #5c5c5c;
//--color-base-100: #222222;

// ╔══════════════════════════╗
// ║ Color Accent             ║
// ╚══════════════════════════╝

//--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
//--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
--color-accent-1: var(--CREARTS-accent-primary, hsl(calc(258 - 1), calc(88% * 1.01), calc(66% * 1.075)));
--color-accent-2: var(--CREARTS-accent-primary, hsl(calc(258 - 3), calc(88% * 1.02), calc(66% * 1.15)));

// ╔══════════════════════════╗
// ║ Input Shadow             ║
// ╚══════════════════════════╝

//--input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 1.5px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.04), 0 0 0 0 transparent;
//--input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0,0,0,.1), 0 1px 1.5px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.04), 0 0 0 0 transparent;

// ╔══════════════════════════╗
// ║ Shadow                   ║
// ╚══════════════════════════╝

//--shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, .042), 0px 15px 30px rgba(0, 0, 0, .07);
//--shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);

}
