// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables (Light)        ║                                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-light {

// Text
--CREARTS-text-primary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0));
--CREARTS-text-secondary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0.2));
--CREARTS-text-tertiary: hsla(var(--CREARTS-content-h), var(--CREARTS-content-s), var(--CREARTS-content-l), calc(var(--CREARTS-content-a) - 0.4));

// Background
--CREARTS-background-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-primary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-background-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-secondary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-background-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - var(--CREARTS-grading-background-tertiary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));

// Interface
--CREARTS-interface-primary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-primary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-interface-secondary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-secondary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));
--CREARTS-interface-tertiary: hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) + var(--CREARTS-grading-interface-tertiary) + var(--CREARTS-lightness)), var(--CREARTS-base-a));

// Border
--CREARTS-border-primary: var(--CREARTS-interface-primary);
--CREARTS-border-secondary: var(--CREARTS-interface-secondary);
--CREARTS-border-tertiary: var(--CREARTS-interface-tertiary);

// Effects
--CREARTS-effects-flat: 2px 2px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), -2px -2px 12px var(--CREARTS-background-secondary);
--CREARTS-effects-pressed: inset 6px 6px 20px hsla(var(--CREARTS-base-h), var(--CREARTS-base-s), calc(var(--CREARTS-base-l) - 3% + var(--CREARTS-lightness) - 6%), var(--CREARTS-base-a)), inset -6px -6px 20px var(--CREARTS-background-secondary);
}
