// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables                ║ Light                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-light {
  // Text
  --CREARTS-text-accent: #000000;
  --CREARTS-text-primary: #303446;
  --CREARTS-text-secondary: #2a2d3b;
  --CREARTS-text-tertiary: #242634;

  // Background
  --CREARTS-background-primary: #edeef3;
  --CREARTS-background-secondary: #e1e3ea;
  --CREARTS-background-tertiary: #cbced8;

  // Interface
  --CREARTS-interface-primary: #bfbfbf;
  --CREARTS-interface-secondary: #adadad;
  --CREARTS-interface-tertiary: #9e9e9e;

  // Accent
  --CREARTS-accent-primary: #cd0952;
  --CREARTS-accent-secondary: #b60a49;
  --CREARTS-accent-tertiary: #9f0b40;

  --CREARTS-hightlight-red: #cd0952;
  --CREARTS-hightlight-green: #09cd85;
  --CREARTS-hightlight-yellow: #ffd861;
  --CREARTS-hightlight-orange: #e6715a;
  --CREARTS-hightlight-blue: #6189ff;
  --CREARTS-hightlight-purple: #b061ff;

  // Border
  --CREARTS-border-primary: var(--CREARTS-interface-primary);
  --CREARTS-border-secondary: var(--CREARTS-interface-secondary);

  // Effects
  --CREARTS-effects-flat: 2px 2px 20px #1f212b, -2px -2px 12px #2f313f;
  --CREARTS-effects-pressed: inset 6px 6px 20px #1f212b, inset -6px -6px 20px #353949;
}
