// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skins                    ║ Dark                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-dark {
// Settings
--CREARTS-lightness: var(--SKIN-lightness, 0%);
--CREARTS-saturation: var(--SKIN-saturation, 0%);
--CREARTS-alpha: var(--SKIN-alpha, 0%);

// Accent
--CREARTS-accent-h: var(--SKIN-accent-h, 338);
--CREARTS-accent-s: var(--SKIN-accent-s, 92%);
--CREARTS-accent-l: var(--SKIN-accent-l, 42%);
--CREARTS-accent-a: var(--SKIN-accent-a, 1);

// Content
--CREARTS-content-h: var(--SKIN-content-h, 230);
--CREARTS-content-s: var(--SKIN-content-s, 70%);
--CREARTS-content-l: var(--SKIN-content-l, 86%);
--CREARTS-content-a: var(--SKIN-content-a, 1);

// Base
--CREARTS-base-h: var(--SKIN-base-h, 230);
--CREARTS-base-s: var(--SKIN-base-s, 19%);
--CREARTS-base-l: var(--SKIN-base-l, 23%);
--CREARTS-base-a: var(--SKIN-base-a, 1);

// Grading
--CREARTS-grading-background-primary: var(--SKIN-grading-background-primary, 0%);
--CREARTS-grading-background-secondary: var(--SKIN-grading-background-secondary, 3%);
--CREARTS-grading-background-tertiary: var(--SKIN-grading-background-tertiary, 6%);

--CREARTS-grading-interface-primary: var(--SKIN-grading-interface-primary, 8%);
--CREARTS-grading-interface-secondary: var(--SKIN-grading-interface-secondary, 16%);
--CREARTS-grading-interface-tertiary: var(--SKIN-grading-interface-tertiary, 24%);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skins                    ║ Light                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-light {
// Settings
--CREARTS-lightness: var(--SKIN-lightness, 0%);
--CREARTS-saturation: var(--SKIN-saturation, 0%);
--CREARTS-alpha: var(--SKIN-alpha, 0%);

// Accent
--CREARTS-accent-h: var(--SKIN-accent-h, 338);
--CREARTS-accent-s: var(--SKIN-accent-s, 92%);
--CREARTS-accent-l: var(--SKIN-accent-l, 42%);
--CREARTS-accent-a: var(--SKIN-accent-a, 1);

// Content
--CREARTS-content-h: var(--SKIN-content-h, 230);
--CREARTS-content-s: var(--SKIN-content-s, 20%);
--CREARTS-content-l: var(--SKIN-content-l, 20%);
--CREARTS-content-a: var(--SKIN-content-a, 1);

// Base
--CREARTS-base-h: var(--SKIN-base-h, 230);
--CREARTS-base-s: var(--SKIN-base-s, 20%);
--CREARTS-base-l: var(--SKIN-base-l, 100%);
--CREARTS-base-a: var(--SKIN-base-a, 1);

// Grading
--CREARTS-grading-background-primary: var(--SKIN-grading-background-primary, 3%);
--CREARTS-grading-background-secondary: var(--SKIN-grading-background-secondary, 0%);
--CREARTS-grading-background-tertiary: var(--SKIN-grading-background-tertiary, 9%);

--CREARTS-grading-interface-primary: var(--SKIN-grading-interface-primary, -8%);
--CREARTS-grading-interface-secondary: var(--SKIN-grading-interface-secondary, -16%);
--CREARTS-grading-interface-tertiary: var(--SKIN-grading-interface-tertiary, -24%);
}
